<div class="card" id="additionalUsefulInformationAndPhotos">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table style="border-collapse: collapse; border: none; width: 100%;">
                    <tbody>
                        <tr>
                            <td colspan="4" style="width: 548.3pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid windowtext;padding: 0in 5.4pt;height: 57.8pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Arial Black",sans-serif;margin-top:.25in;margin-bottom:0in;color:#262626;text-align:center;'><span style="color:#44546A;">Additional useful information and photos</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 217.3pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 8.2pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#44546A;">&nbsp;</span></p>
                            </td>
                            <td colspan="2" style="width: 279.25pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 8.2pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td style="width: 51.65pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 8.2pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 274.1pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;padding: 4.25pt;height: 38.9pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>Factory gate</p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td colspan="2" style="width: 274.15pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 38.9pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>Factory building</p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 274.1pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;padding: 4.25pt;height: 40pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>Inspection room/environment</p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td colspan="2" style="width: 274.15pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 40pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>Production area (if allows)</p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 274.1pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;padding: 4.25pt;height: 38.9pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>Selected carton</p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td colspan="2" style="width: 274.15pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 38.9pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>Selected pieces</p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 274.1pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;height: 33.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;text-align:center;'><strong><span style='font-family:"Arial Black",sans-serif;color:#44546A;'>FACTORY SIGN AND STAMP ON ANTI-BRIBERY FORM</span></strong></p>
                            </td>
                            <td colspan="2" style="width: 274.15pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;height: 33.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;text-align:center;'><strong><span style='font-family:"Arial Black",sans-serif;color:#44546A;'>FACTORY SIGN AND STAMP ON DRAFT&nbsp;</span></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 274.1pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;padding: 4.25pt;height: 8.2pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td colspan="2" style="width: 274.15pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 8.2pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>