<div class="card" id="keyRemarksDetail">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table style="border: none; border-collapse: collapse; width: 100%;">
                    <tbody>
                        <tr>
                            <td colspan="2" style="width: 552.6pt;border: 1pt solid rgb(208, 206, 206);padding: 0in 5.4pt;vertical-align: top;">
                                <input type="text" placeholder="Remarks here"></input>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 250pt;border-right: 1pt solid rgb(208, 206, 206);border-bottom: 1pt solid rgb(208, 206, 206);border-left: 1pt solid rgb(208, 206, 206);border-image: initial;border-top: none;padding: 0in 5.4pt;height: 219.4pt;vertical-align: top;">
                                <select name="remarksDrp" id="remarkDrpDown">
                                    <option value="fail">Fail</option>
                                    <option value="pending">Pending</option>
                                    <option value="note">Note</option>
                                </select>

                            </td>
                            <td style="width: 302.6pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(208, 206, 206);border-right: 1pt solid rgb(208, 206, 206);padding: 0in 5.4pt;height: 219.4pt;vertical-align: top;">
                                <input type="file" id="remarksPhoto" name="filename">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>