<div class="card" id="specificationsLabelingPackaging">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table style="border-collapse: collapse; border: none; width: 100%;">
                    <tbody>
                        <tr>
                            <td colspan="7" style="width: 562.6pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid windowtext;padding: 0in 5.4pt;height: 39.85pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Arial Black",sans-serif;margin-top:.25in;margin-bottom:0in;color:#262626;'><span style="color:#44546A;">3 &mdash; SPECIFICATIONS, LABELLING &amp; PACKAGING</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="width: 3.35in;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 5.55pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td style="width: 28.05pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 5.55pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td colspan="2" style="width: 293.35pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 5.55pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" style="width: 562.6pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <h2 style='margin-top:10.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:13px;font-family:"Arial Black",sans-serif;color:#404040;font-weight:normal;'><span style="color:#44546A;">client specifiacation details as below:</span></h2>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" style="width: 562.6pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;padding: 4.25pt;height: 45.95pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#44546A;">&nbsp;</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" style="width: 562.6pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <h2 style='margin-top:10.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:13px;font-family:"Arial Black",sans-serif;color:#404040;font-weight:normal;'><span style="color:#44546A;">CHECK POINTS Summary</span></h2>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 43pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;height: 32.05pt;vertical-align: top;">
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;'><span style="color:#44546A;">&nbsp;</span></h3>
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;text-align:center;'><span style="color:#44546A;">#</span></h3>
                            </td>
                            <td style="width: 112.65pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;height: 32.05pt;vertical-align: top;">
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;text-align:center;'><span style="color:#44546A;">&nbsp;</span></h3>
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;text-align:center;'><span style="color:#44546A;">Verification Point &nbsp;</span></h3>
                            </td>
                            <td colspan="3" style="width: 113.6pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;height: 32.05pt;vertical-align: top;">
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;text-align:center;'><span style="color:#44546A;">&nbsp;</span></h3>
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;text-align:center;'><span style="color:#44546A;">Result&nbsp;</span></h3>
                            </td>
                            <td colspan="2" style="width: 293.35pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;height: 32.05pt;vertical-align: top;">
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;text-align:center;'><span style="color:#44546A;">&nbsp;</span></h3>
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;text-align:center;'><span style="color:#44546A;">Standard and Remarks&nbsp;</span></h3>
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;text-align:center;'><span style="color:#44546A;">&nbsp;</span></h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 43pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#44546A;">3.1</span></p>
                            </td>
                            <td style="width: 112.65pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#44546A;">Shipping Marks</span></strong></p>
                            </td>
                            <td colspan="3" style="width: 113.6pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                            <td colspan="2" style="width: 293.35pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <div style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>
                                    <ul style="margin-bottom:0in;list-style-type: disc;margin-left:0.3000000000000007px;">
                                        <li style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'><span style='font-family:"\0027??";font-size:11px;'>&nbsp;Shipping mark comply with PO/Specification :&nbsp;</span>N/A</li>
                                        <li style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>The Client did not provide artwork both side.</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 43pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;height: 30.7pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#44546A;">3.2</span></p>
                            </td>
                            <td style="width: 112.65pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;height: 30.7pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#44546A;">Inner/Outer Packing, Pallet</span></strong></p>
                            </td>
                            <td colspan="3" style="width: 113.6pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 30.7pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                            <td colspan="2" style="width: 293.35pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 30.7pt;vertical-align: top;">
                                <div style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>
                                    <ul style="margin-bottom:0in;list-style-type: disc;margin-left:9.2px;">
                                        <li style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>Correct packing method : Yes</li>
                                        <li style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>No obvious void and bulge found : Yes</li>
                                        <li style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>Were cartons in good conditions: No/ Carton was found in the floor instead of pallet.</li>
                                    </ul>
                                </div>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong>Packed pcs break down:</strong></p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>00 pcs packed in poly bag.</p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>00 pcs packed in Master carton. Solid color and assorted size.as per client spec.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 43pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;height: 30.7pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#44546A;">3.3</span></p>
                            </td>
                            <td style="width: 112.65pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;height: 30.7pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#44546A;">Shipping Carton details&nbsp;</span></strong></p>
                            </td>
                            <td colspan="3" style="width: 113.6pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 30.7pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:windowtext;">&nbsp;</span></strong></p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:windowtext;">&nbsp;</span></strong></p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:windowtext;">&nbsp;</span></strong><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                            <td colspan="2" style="width: 293.35pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 30.7pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>Corrugated Paper Ply: 7 ply</p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>Fastening: Glue</p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>Sealed by: Printed Kraft tape</p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>Strapping: No</p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong>If none of above describe:</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 43pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#44546A;">3.4</span></p>
                            </td>
                            <td style="width: 112.65pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#44546A;">Material &amp; Color</span></strong></p>
                            </td>
                            <td colspan="3" style="width: 113.6pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                            <td colspan="2" style="width: 293.35pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <div style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>
                                    <ul style="margin-bottom:0in;list-style-type: disc;margin-left:9.2px;">
                                        <li style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>As per specification and PO : Yes</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 43pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#44546A;">3.5</span></p>
                            </td>
                            <td style="width: 112.65pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#44546A;">Logo, Labels, Marking, Tag, Accessories</span></strong></p>
                            </td>
                            <td colspan="3" style="width: 113.6pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                            <td colspan="2" style="width: 293.35pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <div style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>
                                    <ul style="margin-bottom:0in;list-style-type: disc;margin-left:9.2px;">
                                        <li style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>As per specification and PO : N/A</li>
                                        <li style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>The Client did not provide label artwork .</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 43pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#44546A;">3.6</span></p>
                            </td>
                            <td style="width: 112.65pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#44546A;">Approved Sample&nbsp;</span></strong></p>
                            </td>
                            <td colspan="3" style="width: 113.6pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                            <td colspan="2" style="width: 293.35pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <div style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>
                                    <ul style="margin-bottom:0in;list-style-type: disc;margin-left:9.2px;">
                                        <li style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>Approved sample available (with client sign stamp) : No</li>
                                        <li style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>N/A</li>
                                        <li style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>&nbsp;Comparison with Approved sample satisfactory : N/A</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 43pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#44546A;">3.7</span></p>
                            </td>
                            <td style="width: 112.65pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#44546A;">Test report / certificate</span></strong></p>
                            </td>
                            <td colspan="3" style="width: 113.6pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                            <td colspan="2" style="width: 293.35pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>N/A</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 43pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#44546A;">&nbsp;3.8</span></p>
                            </td>
                            <td colspan="2" style="width: 113.15pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#44546A;">C</span></strong><strong><span style="font-family:DengXian;color:#44546A;">ol</span></strong><strong><span style="color:#44546A;">or /Size Indication Check&nbsp;</span></strong></p>
                            </td>
                            <td colspan="2" style="width: 113.1pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                            <td colspan="2" style="width: 293.35pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <div style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>
                                    <ul style="margin-bottom:0in;list-style-type: disc;margin-left:9.2px;">
                                        <li style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>Is there any color or size indication on carton : Yes</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" style="width: 447.65pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;text-align:right;'><strong><span style="color:#44546A;">O</span></strong><strong><span style="color:#44546A;">verall Result</span></strong></p>
                            </td>
                            <td style="width: 114.95pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>