<div class="card" id="summaryForResult">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table style="border-collapse: collapse; border: none; width: 100%;">
                    <tbody>
                        <tr>
                            <td colspan="7" style="width: 555.15pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid windowtext;padding: 0in 5.4pt;height: 39.9pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Arial Black",sans-serif;margin-top:.25in;margin-bottom:0in;color:#262626;'><strong><span style="font-size:21px;color:#1F4E79;">Summary For inspection RESULTS</span></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 230.05pt;border: none;padding: 0in 5.4pt;height: 5.55pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td style="width: 11.8pt;border: none;padding: 0in 5.4pt;height: 5.55pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td style="width: 11.8pt;border: none;padding: 0in 5.4pt;height: 5.55pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td style="border:none;padding:0in 0in 0in 0in;" colspan="3">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 230.05pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 13.75pt;vertical-align: top;">
                                <h2 style='margin-top:10.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:13px;font-family:"Arial Black",sans-serif;color:#404040;font-weight:normal;'><span style="color:#1F4E79;">&nbsp;</span></h2>
                            </td>
                            <td colspan="3" style="width: 120.9pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 13.75pt;vertical-align: top;">
                                <h2 style='margin-top:10.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:13px;font-family:"Arial Black",sans-serif;color:#404040;font-weight:normal;'><span style="color:#1F4E79;">&nbsp;</span></h2>
                            </td>
                            <td style="width: 11.8pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 13.75pt;vertical-align: top;">
                                <h2 style='margin-top:10.0pt;margin-right:0in;margin-bottom:0in;margin-left:0in;font-size:13px;font-family:"Arial Black",sans-serif;color:#404040;font-weight:normal;'><span style="color:#1F4E79;">&nbsp;</span></h2>
                            </td>
                            <td style="border:none;border-bottom:solid #BEBEBE 1.0pt;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 21.15pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;text-align:center;'><strong><span style='font-size:16px;font-family:"Arial Black",sans-serif;color:#44546A;'>#</span></strong></p>
                            </td>
                            <td style="width: 208.9pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;text-align:center;'><strong><span style='font-size:16px;font-family:"Arial Black",sans-serif;color:#44546A;'>CATEGORY</span></strong></p>
                            </td>
                            <td colspan="3" style="width: 120.9pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;text-align:center;'><strong><span style='font-size:16px;font-family:"Arial Black",sans-serif;color:#44546A;'>RESULTS</span></strong></p>
                            </td>
                            <td colspan="2" style="width: 204.2pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;text-align:center;'><strong><span style='font-size:16px;font-family:"Arial Black",sans-serif;color:#44546A;'>REMARKS</span></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 21.15pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#1F4E79;">&nbsp;</span></strong></p>
                            </td>
                            <td style="width: 208.9pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style='font-family:"Arial Black",sans-serif;color:#1F4E79;'>CUSTOMER SPECIAL CHECKPOINTS</span></strong></p>
                            </td>
                            <td colspan="3" style="width: 120.9pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;text-align:center;'><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                            <td colspan="2" style="width: 204.2pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#1F4E79;">Check remark #</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 21.15pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#1F4E79;">1</span></strong></p>
                            </td>
                            <td style="width: 208.9pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style='font-family:"Arial Black",sans-serif;color:#1F4E79;'>WORKMANSHIP&nbsp;</span></strong></p>
                            </td>
                            <td colspan="3" style="width: 120.9pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;text-align:center;'><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                            <td colspan="2" style="width: 204.2pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#1F4E79;">Check remark #</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 21.15pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;height: 19pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#1F4E79;">2</span></strong></p>
                            </td>
                            <td style="width: 208.9pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 4.25pt;height: 19pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style='font-family:"Arial Black",sans-serif;color:#1F4E79;'>PRODUCTION QUANTITY STATUS &nbsp; &nbsp;&nbsp;</span></strong></p>
                            </td>
                            <td colspan="3" style="width: 120.9pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 4.25pt;height: 19pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;text-align:center;'><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                            <td colspan="2" style="width: 204.2pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 4.25pt;height: 19pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#1F4E79;">Check remark #</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 21.15pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#1F4E79;">3</span></strong></p>
                            </td>
                            <td style="width: 208.9pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style='font-family:"Arial Black",sans-serif;color:#1F4E79;'>SPECIFICATIONS, LABELING, AND PACKAGING</span></strong></p>
                            </td>
                            <td colspan="3" style="width: 120.9pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;text-align:center;'><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                            <td colspan="2" style="width: 204.2pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#1F4E79;">Check remark #</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 21.15pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#1F4E79;">4</span></strong></p>
                            </td>
                            <td style="width: 208.9pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style='font-family:"Arial Black",sans-serif;color:#1F4E79;'>MEASUREMENTS DATA</span></strong></p>
                            </td>
                            <td colspan="3" style="width: 120.9pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;text-align:center;'><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                            <td colspan="2" style="width: 204.2pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#1F4E79;">Check remark #</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 21.15pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#1F4E79;">5</span></strong></p>
                            </td>
                            <td style="width: 208.9pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style='font-family:"Arial Black",sans-serif;color:#1F4E79;'>ON-SITE TESTS</span></strong></p>
                            </td>
                            <td colspan="3" style="width: 120.9pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;text-align:center;'><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                            <td colspan="2" style="width: 204.2pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#1F4E79;">&nbsp;</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 21.15pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style='font-size:15px;font-family:"Arial Black",sans-serif;color:windowtext;'>&nbsp;</span></strong></p>
                            </td>
                            <td style="width: 208.9pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style='font-size:15px;font-family:"Arial Black",sans-serif;color:black;'>OVERALL RESULT</span></strong></p>
                            </td>
                            <td colspan="5" style="width: 325.1pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style='font-size:15px;font-family:"Arial Black",sans-serif;color:#00B050;'>PASS</span></strong><strong><span style='font-size:15px;font-family:"Arial Black",sans-serif;'>&nbsp;/&nbsp;</span></strong><strong><span style='font-size:15px;font-family:"Arial Black",sans-serif;color:red;'>FAIL</span></strong><strong><span style='font-size:15px;font-family:"Arial Black",sans-serif;'>&nbsp;/&nbsp;</span></strong><strong><span style='font-size:15px;font-family:"Arial Black",sans-serif;color:#F79646;'>PENDING</span></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 21.15pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: whitesmoke;padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td style="width: 208.9pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: whitesmoke;padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>FINAL DECISION</p>
                            </td>
                            <td colspan="5" style="width: 325.1pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: whitesmoke;padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>Only the client can accept or reject the goods</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>