@{
	Layout = null;
}
<html>
<head>
	<style>
		html {
			scroll-behavior: smooth;
		}

		.sidenav {
			font-family: "Roboto","Helvetica","Arial","sans-serif";
			height: 100%;
			width: 13%;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: #111;
			overflow-x: hidden;
			padding-top: 20px;
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			transition: 0.3s;
		}

			.sidenav a {
				padding: 6px 8px 6px 16px;
				text-decoration: none;
				font-size: 17px;
				color: #818181;
				display: block;
			}

				.sidenav a:hover {
					color: #f1f1f1;
				}

		.main {
			margin-left: 13%; /* Same as the width of the sidenav */
			font-size: 28px; /* Increased text to enable scrolling */
			padding: 10px 10px;
			height: 150vh;
			position: relative;
			top: 41px;
		}

		.card {
			/* Add shadows to create the "card" effect */
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			transition: 0.3s;
		}

			/* On mouse-over, add a deeper shadow */
			.card:hover {
				box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
			}

		/* Add some padding inside the card container */


		.container {
			padding: 2px 16px;
			margin: 0 auto; /* Center the DIV horizontally */
		}

		body {
			position: relative;
			padding-top: 60px;
			padding-bottom: 40px;
			margin: 0;
			font-family: Arial, Helvetica, sans-serif;
		}

		.fixed-header {
			color: #fff;
			background: #111;
			position: fixed;
			z-index: 999;
			top: 0;
			left: 0;
			width: 100%;
			margin-left: 13%;
		}


		table {
			border-left: 1px solid #bebebe;
			border-top: 1px solid #bebebe;
			margin-top: 10px;
			width: 100%;
		}

		td,
		th {
			border-bottom: 1px solid #bebebe;
			border-right: 1px solid #bebebe;
			padding: 5px;
			text-align: left;
			vertical-align: top;
		}

		th {
			background-color: #f5f5f5;
			font-weight: normal;
		}

		input[type="text"],
		input[type="number"],
		input[type="email"],
		input[type="password"],
		input[type="url"],
		textarea,
		select {
			border: none;
			border: 2px dashed #bebebe;
			border-radius: 0px;
			color: inherit;
			padding: 4px 3px;
			text-align: left;
			-webkit-appearance: none;
			-webkit-border-radius: 0px;
		}

		input[type="text"],
		input[type="number"],
		input[type="email"],
		input[type="password"],
		input[type="url"],
		textarea {
			background-color: inherit;
			display: block;
			font-size: inherit;
		}

		.upload-photo,
		.upload-photo-paste,
		.upload-take-picture,
		.import-measurements {
			border: 2px dashed #bebebe;
			float: left;
			height: 50px;
			padding: 30px;
			text-align: center;
			vertical-align: middle;
			width: auto;
		}

		a {
			font-size: 15px
		}
	</style>
	<script src="~/js/jquery.min.js"></script>
	@*   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> *@
	<script src="~/js/FillReport.js"></script>
</head>
<body>
	@* @using (Html.BeginForm("SaveReport", "Report", FormMethod.Post, new { enctype = "multipart/form-data", @id = "FrmSubmit" }))
	{ *@
	<form action="/Report/SaveReport" method="post" enctype="multipart/form-data" id="FrmSubmit">
		<input type="submit" value="Submit" style="position: relative;left: 238px;top: 30px;">
		<div class="fixed-header">
			<div class="container">
				<h2>Report</h2>
			</div>
		</div>
		<div class="sidenav">
			<br />
			<a href="#generalInfo">General Information</a>
			<br />
			<a href="#summaryForResult">Summary For Inspection Result</a>
			<br />
			<a href="#keyRemarks">Key Remarks</a>
			<br />
			<a href="#keyRemarksDetail">Key Remarks Detail</a>
			<br />
			<a href="#workmanship">Workmanship</a>
			<br />
			<a href="#productionQuantityStatus">Production Quantity Status</a>
			<br />
			<a href="#specificationsLabelingPackaging">Specifications, Labeling & Packaging</a>
			<br />
			<a href="#referenceWisePhotos">Reference Wise Photos</a>
			<br />
			<a href="#measurementData">Measurement Data</a>
			<br />
			<a href="#onSiteTest">On-Site Tests</a>
			<br />
			<a href="#additionalUsefulInformationAndPhotos">Additional Useful Information And Photos</a>
		</div>
		<div class="main">
			<div>



				<table>
					<tbody>
						<tr>
							<td>
								<h3>Sampling informationGeneral information</h3>

								<table cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<th width="100">Report #</th>
											<td width="210">23056211-015</td>
										</tr>
										<tr>
											<th width="100">Service date</th>
											<td width="210">
												2024/01/30
											</td>
										</tr>
										<tr>
											<th width="100">Client name</th>
											<td width="210">Ozeol</td>
										</tr>
										<tr>
											<th width="100">Inspection type</th>
											<td width="210">
												PSI
											</td>
										</tr>
										<tr>
											<th width="100">Your reference</th>
											<td width="210" class="simple_font">
												6500007050 - 0006002392
											</td>
										</tr>
										<tr>
											<th width="100">PO number</th>
											<td width="210" class="simple_font">

												<span class="products-purchaseOrderNumber">6500007050 - 0006002392</span>

											</td>
										</tr>
										<tr>
											<th width="100">Vendor name</th>
											<td width="210">
												ALEENA INDUSTRIES
											</td>
										</tr>
										<tr>
											<th width="100">Product name</th>
											<td width="210" class="simple_font">

												<span class="products-name">
													DUVET COVER 100%COTON 220x240CM 78FILS ASSORTED WOVEN, DYED FITTED
													SHEET 100% COTTON 78 FILS 140x190CM ASSORTED COLORS WOVEN , DYED FITTED SHEET 100% COTTON 78
													FILS 160x200CM ASSORTED COLORS WOVEN , DYED FITTED SHEET 100% COTTON 78 FILS 180x200 CM ASSORTED COLORS
													WOVEN , DYED FITTED SHEET 100% COTTON 78 FILS 90x190 CM ASSORTED COLORS WOVEN
												</span>
											</td>
										</tr>
										<tr>
											<th width="100">Total ordered quantity</th>
											<td width="210">
												<span class="products-quantity">13020</span>
												pieces
											</td>
										</tr>
										<tr>
											<th width="100">Inspected sample size</th>
											<td width="210">
												315 pieces
											</td>
										</tr>
										<tr>
											<th width="100">Nbr Family / Nbr Ref</th>
											<td width="210">
												/5
											</td>
										</tr>
										<tr>
											<th width="100">Approval sample(s) available</th>
											<td width="210"> No </td>
										</tr>
										<tr>
											<th width="100">Destination Country</th>
											<td width="210">
												France
											</td>
										</tr>

										<tr>
											<td colspan="5">
												<h3> YOUR PRODUCT :</h3>
											</td>
										</tr>
										<tr>
											<td colspan="5">
												<input type="file" class="fileInput fileInputYourProduct" multiple />
											</td>
										</tr>
									</tbody>
								</table>

					</tbody>
				</table>

				<h3>  IMPORTANT REMARKS </h3>

				<table cellpadding="0" cellspacing="0" id="table-remarks">
					<tr>
						<th width="20" class="center">1</th>
						<td width="668">
							Workmanship check is not conformed (beyond AQL).<br>
							Critical defects: 0<br>
							Major defects: 15<br>
							Minor defects: 0<br>
							Reminder of maximum allowed defects based on the AQL: Critical: 0, Major: 14, Minor: 21<br>
							<br>
							<br>
						</td>
					</tr>
				</table>
				<table id="tblDoc" class="doc-Table" cellpadding="0" cellspacing="0">
					<tbody>
						<tr class="tr_1">
							<td width="20" rowspan="2">
								<button type="button" class="btnRemove">
									Remove
								</button>
							</td>
							<td>
								<p>
									<select class="ddlForAddARemark">
										<option value="-"></option>
										<option value="FAIL">FAIL</option>
										<option value="PENDING">PENDING</option>
										<option value="NOTE">NOTE</option>
									</select>
								</p>
							</td>
							<td width="690">
								<textarea class="textareaForAddARemark"></textarea>
							</td>
						</tr>
						<tr class="tr_2">
							<td colspan="5">
								<input type="file" class="fileInput FileUploadForAddARemark" />
								<input type="hidden" class="hiddenField" />
							</td>
						</tr>
					</tbody>
				</table>
				<p>
					<a href="javascript:void(0);" class="hrefAddARemark">
						Add a remark
					</a>
				</p>



				<h3>
					Customer special checkpoints
				</h3>

				<div class="divCustomerSpecialCheckpoints">
					<table cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<th width="600">Client's special specification and requirements</th>
								<th width="110">Result</th>
							</tr>
						</tbody>
					</table>

					<table cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<th width="20" class="center">
									A
								</th>
								<th width="555">
									<ul>
										<li>
											<strong>Seal 5pcs production samples at factory, and factory will send them to the client office.</strong><br>
											&nbsp;
										</li>
										<li><strong>For all household linen products, we will have to leave sealed production samples in the supplier's warehouse. We should indicate this info when placing the booking. We should seal one pc of each item. Before we seal the samples, please check the dimensions, workmanship &amp; thread count of the samples. A separate remark needs to be added to show the result of the checkpoints of the samples. Updated by Doris Tang on 11/16/2023</strong></li>
									</ul>

								</th>
								<td width="110" class="result result_">
									<select class="ddlforCustomerCheckPointA ddl1" onchange="GetOverallResultForCheckpoints();">
										<option value="">--</option>
										<option value="conformed">Conformed</option>
										<option value="notconformed">Not conformed</option>
										<option value="pending">Pending</option>
										<option value="notapplicable">N/A</option>
										<option value="actualfindings">Actual findings</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>

					<table cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<textarea class="textA save-fill automatic-id remark loaded" rows="5" cols="190"></textarea>
								</td>
							</tr>
							<tr>
								<td width="730">
									<input type="file" class="fileInputA CustomerSpChkFileUload" multiple />
								</td>
							</tr>
						</tbody>
					</table>


					<table cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<th width="20" class="center">
									B
								</th>
								<th width="555">
									<ul>
										<li>
											<strong>Please send all the original photos to the client by WeTransfer, with a separate folder/zip of pictures for each reference.</strong><br>
											&nbsp;
										</li>

									</ul>

								</th>
								<td width="110" class="result result_">
									<select class="ddlforCustomerCheckPointB ddl1" onchange="GetOverallResultForCheckpoints();">
										<option value="">--</option>
										<option value="conformed">Conformed</option>
										<option value="notconformed">Not conformed</option>
										<option value="pending">Pending</option>
										<option value="notapplicable">N/A</option>
										<option value="actualfindings">Actual findings</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>

					<table cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<textarea class="textB save-fill automatic-id remark loaded" rows="5" cols="190"></textarea>
								</td>
							</tr>
							<tr>
								<td width="730">
									<input type="file" class="fileInputB CustomerSpChkFileUload" multiple />
								</td>
							</tr>
						</tbody>
					</table>

					<table cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<th width="600" class="right"><strong>Overall Result</strong></th>
								<td width="110" class="result result_notconformed">
									<span class="CustomerSpecialCheckPointOverAllResult">
										Conformed
									</span>

								</td>
							</tr>
						</tbody>
					</table>

				</div>


				<div class="divWORKMANSHIP">
					<h3>A - WORKMANSHIP</h3>
					<p>
						<strong>Select the allocated inspector</strong>
					</p>
					<p>
						<label>
							<input id="protocol_element-12223433-279683-inspected" class="protocol_update co_writer"
								   type="radio"
								   checked="checked" />
							Pakistan Team Inspector
						</label>
					</p>

					<hr>

					<h2>
						SAMPLING INFORMATION
					</h2>
					<table cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td width="732" class="note">
									<p>Sampled cartons quantity is at least square root (√) of total cartons quantity of this lot.</p>
								</td>
							</tr>
						</tbody>
					</table>



					<table cellpadding="0" cellspacing="0" id="tblSampleInformation" class="tblSampleInformation">
						<tbody>
							<tr>
								<th rowspan="2" width="120">PO #</th>
								<th rowspan="2" width="130">Model #</th>
								<th rowspan="2" width="105">Sample Size from packed CTNS</th>
								<th rowspan="2" width="105">Sample Size from finished un-packed</th>
								<th colspan="2" width="170">Inspected Carton</th>
							</tr>
							<tr>
								<th>CTN</th>
								<th>CTN #</th>
							</tr>
							<tr class="SampleData">
								<td width="120">
									<span class="PONumber">6500007050 - 0006002392</span>
								</td>
								<td width="130">
									<span class="ModelNumber">6</span>
								</td>
								<td width="105">
									<input class="PackedCTNS save-fill automatic-id loaded " type="text" onchange="CalculatePackedCTNS();">
								</td>
								<td width="105">
									<input class="FinshedUnpacked save-fill automatic-id loaded " onchange="CalculateFinishedUnPacked();">
								</td>
								<td width="40">
									<input class="InspectedCartonCTN save-fill automatic-id loaded" type="text" onchange="CalculateInspectedCartonCTN();">
								</td>
								<td width="120">
									<input class="InspectedCartonCTNNumber save-fill automatic-id loaded" type="text">
								</td>
							</tr>

							<tr class="SampleData">
								<td width="120" class="simple_font">
									<span class="PONumber product-255961-purchaseOrderNumber">6500007050 - 0006002392</span>
								</td>
								<td width="130" class="simple_font">
									<span class="ModelNUmber product-255961-modelNumber">1</span>
								</td>
								<td width="105">
									<input class="PackedCTNS save-fill automatic-id loaded" type="text" onchange="CalculatePackedCTNS();">
								</td>
								<td width="105">
									<input class="FinshedUnpacked save-fill automatic-id loaded" type="text" onchange="CalculateFinishedUnPacked();">
								</td>
								<td width="40">
									<input class="InspectedCartonCTN save-fill automatic-id loaded" type="text" onchange="CalculateInspectedCartonCTN();">
								</td>
								<td width="120">
									<input class="InspectedCartonCTNNumber save-fill automatic-id loaded" type="text">
								</td>
							</tr>

							<tr>
								<th colspan="2" width="160" class="right"><strong>Total</strong></th>
								<td width="105">
									<input class="save-fill automatic-id loaded TotalSampleSizeFromPackedCTNS" type="text" disabled="disabled">
								</td>
								<td width="105">
									<input class="save-fill automatic-id loaded TotalSampleSizeFinishedUnPacked" type="text" disabled="disabled">
								</td>
								<td width="40">
									<input class="save-fill automatic-id loaded TotalInspectedCartonCTN" type="text" disabled="disabled" id="12910035-cartons-total">
								</td>
								<td width="120">
									As above
								</td>
							</tr>
							<tr>
								<td colspan="6">
									The factory allows drawing samples from finished non-packed products.
									<select class="AllowDrawingSamplesNonPacked save-fill automatic-id loaded">
										<option value="">--</option>
										<option value="yes">Yes</option>
										<option value="no">No</option>
										<option value="notapplicable">N/A</option>
									</select>
								</td>
							</tr>
							<tr>
								<td colspan="6">
									100% of the quantity is fully available for sampling.
									<select class="HundredPercentQtyForSampling save-fill automatic-id loaded">
										<option value="">--</option>
										<option value="yes">Yes</option>
										<option value="no">No</option>
										<option value="notapplicable">N/A</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>

					@*                     <h2>Inspection standard</h2>

					<table cellpadding="0" cellspacing="0">
					<tbody>
					<tr>
					<td width="732" class="note">
					ISO 2859-1 (ANSI/ASQ Z1.4)<br>
					Single sampling, General inspection, Inspection Level II<br>

					AQL:
					Critical (0);
					Major (2.5);
					Minor (4)<br>
					*This standard is a statistical tool to first determine how many samples should be inspected, and then define the acceptance quality limits for non-conform products. Based on that we can determine if your products quality is acceptable or not.<br>
					Please note that the inspection result is based on the AQL table <u>AND</u> the other report sections: quantity check, product specifications, labeling, marking, packing, packaging, and on-site tests.
					</td>
					</tr>
					</tbody>
					</table>

					*@

					@*
					<h2>RESULTS</h2>

					<table cellpadding="0" cellspacing="0" id="table-workmanship-12910059">
					<tbody>
					<tr>
					<th rowspan="2" width="110">&nbsp;</th>
					<th rowspan="2" width="110">PO # / Model #</th>
					<th rowspan="2" width="45">Picture #</th>
					<th rowspan="2" width="200">Defect description</th>
					<th colspan="3" width="135">Defect classification</th>
					</tr>
					<tr>
					<th width="45">Critical</th>
					<th width="45">Major</th>
					<th width="45">Minor</th>
					</tr>



					</tbody>
					<tbody class="dynamic-lines" data-default_index="1" id="dynamic-lines-12910047" data-callback="criterias_update_12910059();check_aql_12910059();" data-alias="12910059-dynamic-lines" data-model="dynamic-line-12910047">

					<tr id="">
					<td width="110">
					<button type="button" class="" id="">
					Remove
					</button>

					</td>
					<td width="110">
					<select class="InspectionPONumber save-fill automatic-id select-nice" required="required">
					<option value="">--</option>
					<option value="255962">6500007050 - 0006002392 / 6</option>
					<option value="255959">6500007050 - 0006002392 / 2</option>
					<option value="255960">6500007050 - 0006002392 / 3</option>
					<option value="255961">6500007050 - 0006002392 / 4</option>
					<option value="255958">6500007050 - 0006002392 / 1</option>
					</select>
					</td>
					<td width="45">
					A<span class="index">123334</span>
					</td>
					<td width="190" class="text_notconformed">
					<p>
					<select class="InspectionDefectDescriptionStatus save-fill automatic-id select-nice" required="required">
					<option value="">--</option>
					<optgroup label="Custom defects">
					<option data-description="true" value="5088"
					data-critical="1" data-major="1" data-minor="1">
					Accessories
					</option>
					<option data-description="true" value="4615"
					data-critical="1" data-major="1" data-minor="1">
					Accessories &amp; Components
					</option>
					<option data-description="true" value="4656"
					data-critical="1" data-major="1" data-minor="1">
					Appearance
					</option>
					<option data-description="true" value="4668"
					data-critical="1" data-major="1" data-minor="1">
					Assembly
					</option>
					<option data-description="true" value="4676"
					data-critical="1" data-major="1" data-minor="1">
					Cleanliness
					</option>
					<option data-description="true" value="5419"
					data-critical="1" data-major="1" data-minor="1">
					Design Issue
					</option>
					<option data-description="true" value="4691"
					data-critical="1" data-major="1" data-minor="1">
					Deterioration
					</option>
					<option data-description="true" value="4896"
					data-critical="1" data-major="1" data-minor="1">
					Embroidery
					</option>
					<option data-description="true" value="4701"
					data-critical="1" data-major="1" data-minor="1">
					Foreign bodies
					</option>
					<option data-description="true" value="4714"
					data-critical="1" data-major="1" data-minor="1">
					Function
					</option>
					<option data-description="true" value="5424"
					data-critical="1" data-major="1" data-minor="1">
					Functions
					</option>
					<option data-description="true" value="4719"
					data-critical="1" data-major="1" data-minor="1">
					</option>
					<option data-description="false" value="4869"
					data-critical="1">
					Missing compulsory Label
					</option>
					<option data-description="false" value="4870"
					data-critical="1">
					Missing compulsory Logo
					</option>
					<option data-description="false" value="4871"
					data-critical="1">
					Missing compulsory marking
					</option>
					<option data-description="false" value="4872"
					data-major="1">
					Missing label according to client's requirement
					</option>
					<option data-description="false" value="4873"
					data-major="1">
					Missing logo pattern
					</option>
					<option data-description="false" value="4632"
					data-major="1">
					Poor setting of zipper
					</option>
					<option data-description="false" value="4653"
					data-major="1" data-minor="1">
					Wavy zipper
					</option>
					<option data-description="false" value="4874"
					data-major="1">
					Wrong accessory
					</option>
					<option data-description="false" value="4875"
					data-major="1">
					Wrong label according to client's requirement
					</option>
					</optgroup>
					<optgroup label="Appearance">
					<option data-description="false" value="4876"
					data-major="1" data-minor="1">
					Bad crinkle
					</option>
					<option data-description="false" value="4877"
					data-major="1" data-minor="1">
					Bad ironing
					</option>
					<option data-description="false" value="4658"
					data-major="1" data-minor="1">
					Coarse yarn
					</option>
					<option data-description="false" value="4878"
					data-major="1">
					Color off tone
					</option>
					<option data-description="false" value="4879"
					data-major="1" data-minor="1">
					Color shade variation between 2 parts
					</option>
					<option data-description="false" value="4880"
					data-major="1">
					Distorted shape due to pressing
					</option>
					<option data-description="false" value="4662"
					data-major="1">
					Irregular length
					</option>
					<option data-description="false" value="4881"
					data-major="1">
					Over pressed
					</option>
					<option data-description="false" value="4663"
					data-major="1">
					Poor plating
					</option>
					<option data-description="false" value="4664"
					data-major="1">
					Pulled thread
					</option>
					<option data-description="false" value="4665"
					data-major="1" data-minor="1">
					Pulled yarn
					</option>
					<option data-description="false" value="4882"
					data-major="1">
					Sewn in wrong fabric direction
					</option>
					<option data-description="false" value="4883"
					data-major="1">
					Sewn in wrong fabric side
					</option>
					<option data-description="false" value="4884"
					data-major="1">
					Uneven washing effect
					</option>
					<option data-description="false" value="4885"
					data-major="1" data-minor="1">
					Unmatched check
					</option>
					<option data-description="false" value="4886"
					data-major="1" data-minor="1">
					Unmatched stripe
					</option>
					</optgroup>
					<optgroup label="Assembly">
					<option data-description="false" value="4669"
					data-major="1">
					Assembly wrong
					</option>
					<option data-description="false" value="4887"
					data-major="1">
					Insecured part
					</option>
					<option data-description="false" value="4674"
					data-major="1" data-minor="1">
					Uneven lenght
					</option>
					</optgroup>
					<optgroup label="Cleanliness">
					<option data-description="false" value="4677"
					data-major="1">
					Chalk mark
					</option>
					<option data-description="false" value="4678"
					data-major="1" data-minor="1">
					Color stain
					</option>
					<option data-description="false" value="4679"
					data-major="1" data-minor="1">
					Dirt stain
					</option>
					<option data-description="false" value="4680"
					data-major="1" data-minor="1">
					Dust
					</option>
					<option data-description="false" value="4888"
					data-minor="1">
					Dust fibers attached on fabric surface
					</option>
					<option data-description="false" value="4681"
					data-major="1" data-minor="1">
					Glue mark
					</option>
					<option data-description="false" value="4682"
					data-major="1" data-minor="1">
					Glue stain
					</option>
					<option data-description="false" value="4683"
					data-major="1" data-minor="1">
					Loose thread
					</option>
					<option data-description="false" value="4685"
					data-major="1">
					Oil stain
					</option>
					<option data-description="false" value="4686"
					data-major="1" data-minor="1">
					Pen mark
					</option>
					<option data-description="false" value="4687"
					data-major="1" data-minor="1">
					Pencil mark
					</option>
					<option data-description="false" value="4688"
					data-major="1">
					Rust stain
					</option>
					<option data-description="false" value="4889"
					data-major="1" data-minor="1">
					Water stain
					</option>
					</optgroup>
					<optgroup label="Deterioration">
					<option data-description="false" value="4692"
					data-major="1">
					Broken product
					</option>
					<option data-description="false" value="4693"
					data-major="1">
					Burnt mark
					</option>
					<option data-description="false" value="4694"
					data-major="1">
					Chipped product
					</option>
					<option data-description="false" value="4890"
					data-major="1" data-minor="1">
					Crease mark
					</option>
					<option data-description="false" value="4695"
					data-major="1" data-minor="1">
					Deformation
					</option>
					<option data-description="false" value="4891"
					data-major="1" data-minor="1">
					Fold mark
					</option>
					<option data-description="false" value="4697"
					data-critical="1">
					Mildew
					</option>
					<option data-description="false" value="4892"
					data-major="1" data-minor="1">
					Scratch
					</option>
					<option data-description="false" value="4893"
					data-major="1" data-minor="1">
					Washing mark
					</option>
					<option data-description="false" value="4894"
					data-major="1">
					Wrinkle mark
					</option>
					</optgroup>
					<optgroup label="Embroidery">
					<option data-description="false" value="4897"
					data-major="1">
					Broken embroidery stitch
					</option>
					<option data-description="false" value="4898"
					data-major="1">
					Embroidery artwork not as specified
					</option>
					<option data-description="false" value="4899"
					data-major="1">
					Low embroidery stitch density
					</option>
					<option data-description="false" value="4900"
					data-major="1">
					Misplacement of embroidery
					</option>
					<option data-description="false" value="4901"
					data-major="1">
					Missing embroidery
					</option>
					<option data-description="false" value="4902"
					data-major="1">
					Slanted embroidery
					</option>
					</optgroup>
					<optgroup label="Foreign bodies">
					<option data-description="false" value="4702"
					data-critical="1">
					Blades object presence
					</option>
					<option data-description="false" value="4903"
					data-critical="1">
					Died insect
					</option>
					<option data-description="false" value="4703"
					data-critical="1">
					Exposed nails to sharp edge
					</option>
					<option data-description="false" value="4704"
					data-critical="1">
					Exposed staples to sharp point
					</option>
					<option data-description="false" value="4705"
					data-major="1" data-minor="1">
					Foreign fibre
					</option>
					<option data-description="false" value="4706"
					data-major="1" data-minor="1">
					Foreign thread
					</option>
					<option data-description="false" value="4707"
					data-major="1" data-minor="1">
					Foreign yarn
					</option>
					<option data-description="false" value="4708"
					data-critical="1">
					Hair
					</option>
					<option data-description="false" value="4709"
					data-critical="1">
					Knives object presence
					</option>
					<option data-description="false" value="4710"
					data-critical="1">
					Live insect
					</option>
					<option data-description="false" value="4711"
					data-critical="1">
					Needles object presence
					</option>
					<option data-description="false" value="4712"
					data-critical="1">
					Sharp foreign object presence
					</option>
					</optgroup>
					<optgroup label="Function">
					<option data-description="false" value="4716"
					data-major="1">
					Malfunction of zipper
					</option>
					<option data-description="false" value="4904"
					data-major="1" data-minor="1">
					Snap too loose to close or open
					</option>
					<option data-description="false" value="4905"
					data-major="1" data-minor="1">
					Snap too tight to close or open
					</option>
					<option data-description="false" value="4717"
					data-major="1" data-minor="1">
					Zipper slider running not smoothly
					</option>
					<option data-description="false" value="4906"
					data-major="1">
					Zipper tape too close to fly seam affecting zip function
					</option>
					</optgroup>
					<optgroup label="Material issue">
					<option data-description="false" value="4724"
					data-major="1" data-minor="1">
					Broken yarn
					</option>
					<option data-description="false" value="4728"
					data-major="1">
					Damaged material
					</option>
					<option data-description="false" value="4730"
					data-major="1">
					Dye bar
					</option>
					<option data-description="false" value="4732"
					data-major="1" data-minor="1">
					Fabric defect
					</option>
					<option data-description="false" value="4738"
					data-major="1">
					Hole
					</option>
					<option data-description="false" value="4908"
					data-major="1">
					Knitting bar
					</option>
					<option data-description="false" value="4909"
					data-major="1">
					Knitting defect
					</option>
					<option data-description="false" value="4910"
					data-major="1" data-minor="1">
					Knot
					</option>
					<option data-description="false" value="4907"
					data-minor="1">
					Loose fibers attached on fabric surface
					</option>
					<option data-description="false" value="4911"
					data-minor="1">
					Nep
					</option>
					<option data-description="false" value="4912"
					data-minor="1">
					Slub
					</option>
					<option data-description="false" value="4758"
					data-major="1">
					Weaving bar
					</option>
					<option data-description="false" value="4762"
					data-major="1">
					Wrong jacquard direction
					</option>
					<option data-description="false" value="4763"
					data-major="1">
					Wrong jacquard position
					</option>
					</optgroup>
					<optgroup label="Printing &amp; Painting">
					<option data-description="false" value="4766"
					data-major="1">
					Color off shade or not as specified
					</option>
					<option data-description="false" value="4913"
					data-major="1">
					Misplaced printing
					</option>
					<option data-description="false" value="4914"
					data-major="1">
					Missed printing
					</option>
					<option data-description="false" value="4915"
					data-major="1">
					Off printing
					</option>
					<option data-description="false" value="4767"
					data-major="1" data-minor="1">
					Poor printing
					</option>
					<option data-description="false" value="4916"
					data-major="1">
					Printing stain
					</option>
					<option data-description="false" value="4769"
					data-major="1">
					Wrong printing
					</option>
					</optgroup>
					<optgroup label="Seaming &amp; Stitching">
					<option data-description="false" value="4917"
					data-major="1">
					Broken stitch
					</option>
					<option data-description="false" value="4918"
					data-major="1">
					Dropped stitch
					</option>
					<option data-description="false" value="4919"
					data-major="1">
					Excessive stitch
					</option>
					<option data-description="false" value="4920"
					data-major="1">
					Folded seam
					</option>
					<option data-description="false" value="4921"
					data-major="1" data-minor="1">
					Improper stitch tension (too loose or too tight)
					</option>
					<option data-description="false" value="4777"
					data-major="1">
					Insecure seam end finishing
					</option>
					<option data-description="false" value="4922"
					data-major="1">
					Insecured back stitching
					</option>
					<option data-description="false" value="4923"
					data-major="1" data-minor="1">
					Irregular stitching
					</option>
					<option data-description="false" value="4779"
					data-major="1" data-minor="1">
					Loose stitch tension
					</option>
					<option data-description="false" value="4924"
					data-major="1">
					Missed bar tack
					</option>
					<option data-description="false" value="4781"
					data-major="1">
					Missed sewing operation
					</option>
					<option data-description="false" value="4925"
					data-major="1">
					Missed stitching
					</option>
					<option data-description="false" value="4783"
					data-major="1" data-minor="1">
					Needle chewing
					</option>
					<option data-description="false" value="4926"
					data-major="1">
					Needle hole
					</option>
					<option data-description="false" value="4785"
					data-major="1">
					Open seam
					</option>
					<option data-description="false" value="4786"
					data-major="1">
					Pleated seam
					</option>
					<option data-description="false" value="4787"
					data-major="1" data-minor="1">
					Puckered seam
					</option>
					<option data-description="false" value="4927"
					data-major="1">
					Run off stitch
					</option>
					<option data-description="false" value="4928"
					data-major="1">
					Seam folded opposite to specify direction
					</option>
					<option data-description="false" value="4929"
					data-major="1">
					Skipped stitch
					</option>
					<option data-description="false" value="4790"
					data-major="1">
					Twisted seam
					</option>
					<option data-description="false" value="4930"
					data-major="1">
					Unaligned seam
					</option>
					<option data-description="false" value="4931"
					data-major="1" data-minor="1">
					Uneven pleats length
					</option>
					<option data-description="false" value="4932"
					data-major="1" data-minor="1">
					Uneven seam length
					</option>
					<option data-description="false" value="4791"
					data-major="1" data-minor="1">
					Uneven stitch density
					</option>
					<option data-description="false" value="4792"
					data-major="1" data-minor="1">
					Uneven stitch tension
					</option>
					<option data-description="false" value="4933"
					data-major="1" data-minor="1">
					Uneven stitching
					</option>
					<option data-description="false" value="4934"
					data-major="1" data-minor="1">
					Unmatched join stitching
					</option>
					<option data-description="false" value="4935"
					data-major="1" data-minor="1">
					Wavy stitching
					</option>
					</optgroup>
					<optgroup label="Shape">
					<option data-description="false" value="4798"
					data-major="1">
					Asymmetrical shape
					</option>
					<option data-description="false" value="4801"
					data-major="1" data-minor="1">
					Inclined shape
					</option>
					<option data-description="false" value="4802"
					data-major="1">
					Irregular shape
					</option>
					<option data-description="false" value="4803"
					data-major="1" data-minor="1">
					Poor shape
					</option>
					<option data-description="false" value="4804"
					data-major="1" data-minor="1">
					Slanted shape
					</option>
					<option data-description="false" value="4936"
					data-major="1">
					Stretched shapes due to pressing
					</option>
					</optgroup>
					<optgroup label="Yarn &amp; Thread">
					<option data-description="false" value="4939"
					data-major="1">
					Colour yarn
					</option>
					<option data-description="false" value="4940"
					data-major="1">
					Double yarn
					</option>
					<option data-description="false" value="4941"
					data-major="1">
					Missing yarn
					</option>
					<option data-description="false" value="4942"
					data-major="1" data-minor="1">
					Snagging yarn
					</option>
					<option data-description="false" value="4943"
					data-major="1" data-minor="1">
					Thin yarn
					</option>
					<option data-description="false" value="4944"
					data-major="1" data-minor="1">
					Tight yarn
					</option>
					<option data-description="false" value="4945"
					data-major="1" data-minor="1">
					Untrimmed thread end
					</option>
					</optgroup>
					</select>
					</p>

					<p>
					<textarea class="InspectionDefectDescription save-fill automatic-id"></textarea>
					</p>

					</td>
					<td width="45">
					<input class="save-fill automatic-id critical" type="number" disabled="disabled">
					</td>
					<td width="45">
					<input class="save-fill automatic-id major" type="number" disabled="disabled">
					</td>
					<td width="45">
					<input class="save-fill automatic-id minor" type="number" disabled="disabled">
					</td>
					</tr>

					</tbody>

					<tbody>
					<tr>
					<th colspan="4" class="right"><strong>Sample size</strong></th>
					<td>315</td>
					<td>315</td>
					<td>315</td>
					</tr>
					<tr>
					<th colspan="4" class="right"><strong>Total found defects</strong></th>
					<td class="result result_conformed">
					<input class="save-fill automatic-id loaded" type="text" disabled="disabled" id="12910059-defect-critical-total">
					</td>
					<td class="">
					<input class="save-fill automatic-id loaded" type="text" disabled="disabled" id="12910059-defect-major-total">
					</td>
					<td class="result result_conformed">
					<input class="save-fill automatic-id loaded" type="text" disabled="disabled" id="12910059-defect-minor-total">
					</td>
					</tr>
					<tr>
					<th colspan="4" class="right"><strong>AQL allowed defects</strong></th>
					<td>
					<input type="text" disabled="disabled" id="12910059-allowed_critical" value="0">
					</td>
					<td>
					<input type="text" disabled="disabled" id="12910059-allowed_major" value="14">
					</td>
					<td>
					<input type="text" disabled="disabled" id="12910059-allowed_minor" value="21">
					</td>
					</tr>
					<tr>
					<th colspan="7">
					<p>
					<a onclick="" href="javascript:void(0);" class="">
					Add a defect
					</a>
					</p>
					</th>
					</tr>

					<tr>
					<th colspan="4" class="right"><strong>AQL Result</strong></th>
					<th colspan="3">
					<select class="InspectionStatus save-fill automatic-id loaded" id="12910059-aql-result">
					<option value="">--</option>
					<option value="conformed" data-remark="conformed (within AQL)">Conformed</option>
					<option value="notconformed" data-remark="not conformed (beyond AQL)">Not conformed</option>
					<option value="pending" data-remark="pending">Pending</option>
					<option value="notapplicable" data-remark="not applicable">N/A</option>
					<option value="actualfindings" data-remark="actual findings">Actual findings</option>
					</select>
					</th>
					</tr>

					<tr>
					<th colspan="7">
					<p>
					General defects found (Not included in the AQL result above)
					<select class="InspectionGeneralDefectsFound save-fill automatic-id loaded" id="12910059-aql-result">
					<option value="">--</option>
					<option value="yes">Yes</option>
					<option value="no">No</option>
					</select>
					</p>
					<p class="note">
					Note: A defect becomes a General Defect when it appears on at least 20% of the inspected samples. To reflect an exact overview and description of the findings, the General Defect is excluded from the defect list of the above table.
					</p>
					</th>
					</tr>
					<tr>
					<td colspan="7">
					<p>
					General defect(s) description:
					</p>
					<textarea class="InspectionGeneralDefectsDescription save-fill automatic-id loaded" id="12910059-general-defects-description"></textarea>
					</td>
					</tr>
					<tr>
					<th colspan="7">
					<p>
					Non-conformity found
					<select class="InspectionNonConformityFound save-fill automatic-id loaded" id="12910047-non_conformity_found">
					<option value="">--</option>
					<option value="yes">Yes</option>
					<option value="no">No</option>
					</select>
					</p>
					</th>
					</tr>
					<tr>
					<td colspan="7">
					<p>
					Non-conformity remark:
					</p>
					<textarea class="InspectionNonConformityRemark save-fill automatic-id remark loaded" id="12910059-non-conformity"></textarea>
					</td>
					</tr>
					<tr>
					<th colspan="4" class="right"><strong>Overall Result</strong></th>
					<td colspan="3" class="result result_notconformed">
					<select class="InspectionOverAllResult save-fill automatic-id loaded" id="12910059-overall-result">
					<option value="">--</option>
					<option value="conformed">Conformed</option>
					<option value="notconformed">Not conformed</option>
					<option value="pending">Pending</option>
					<option value="notapplicable">N/A</option>
					<option value="actualfindings">Actual findings</option>
					</select>
					</td>
					</tr>
					</tbody>
					</table>

					*@
					<h2 id="">Defect photos</h2>


					<table cellpadding="0" cellspacing="0" class="tblDefectPhotos" id="tblDefectPhotos">
						<tbody>
							@*  <tr id="">
							<th width="20">
							A<span class="index">1</span>
							</th>
							<td width="565" class="">
							<span id=""></span>
							</td>
							<th width="100">
							&nbsp;
							</th>
							</tr> *@
							<tr class="tr_1">
								<td width="20">
									<button type="button" class="btnRemove" style="display:none;">
										Remove
									</button>
								</td>
								<td>
									<select class="ddlDefectType save-fill automatic-id loaded">
										<option value="">--</option>
										<option value="DustORStain">Dust / Stain</option>
										<option value="UncutThread">Uncut Thread</option>
										<option value="Insecureloop">Insecure loop</option>
										<option value="BrokenStitch">Broken Stitch</option>
										<option value="OpenSeam">Open Seam</option>
									</select>
								</td>

								<td>
									<select class="ddlDefectLevelName save-fill automatic-id loaded" id="12910059-overall-result">
										<option value="">--</option>
										<option value="Major">Major</option>
										<option value="Minor">Minor</option>
									</select>
								</td>
								<td>
									<select class="ddlDefectLevelNo save-fill automatic-id loaded" id="12910059-overall-result">
										<option value="">--</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
									</select>
								</td>
								<td>
									<input type="file" class="fileInput fileInputDefectPhotos" multiple />
								</td>
							</tr>
						</tbody>
					</table>
					<p>
						<a href="javascript:void(0);" class="hrefAddDefectPhotos">
							Add Defect Photos
						</a>
					</p>

				</div>



				<div class="divQuantityCheck">
					<h3>Quantity Check</h3>
					<div class="connected online">
						<p>
							<strong>Select the allocated inspector</strong>
						</p>

						<p>

							<input id="" class="" type="radio"> Pakistan Team Inspector

						</p>
					</div>

					<h4> RESULTS</h4>



					<table cellpadding="0" cellspacing="0" class="table-results-12910060" id="table-quantity-check-12910045">
						<tbody>
							<tr>
								<th width="60" rowspan="3"><strong>PO #</strong></th>
								<th width="60" rowspan="3"><strong>Model #</strong></th>
								<th width="60" rowspan="3"><strong>Order Qty (Units)</strong></th>
								<th width="60" rowspan="3"><strong>Units/<br> Carton</strong></th>
								<th width="240" colspan="4"><strong>Available Quantity</strong></th>
								<th width="75" rowspan="3"><strong>Results</strong></th>
							</tr>
							<tr>
								<th width="120" colspan="2"><strong>Finished and Packed</strong></th>
								<th width="60" rowspan="2"><strong>Finished but not packed (Units)</strong></th>
								<th width="60" rowspan="2"><strong>Not Finished (Units)</strong></th>
							</tr>
							<tr>
								<th width="60"><strong>Units</strong></th>
								<th width="60"><strong>Cartons</strong></th>
							</tr>

							<tr class="product-line">
								<td width="60" class="simple_font">
									<span class="product-255962-purchaseOrderNumber">6500007050 - 0006002392</span>
								</td>
								<td width="60" class="simple_font">
									<span class="product-255962-modelNumber">6</span>
								</td>
								<td width="60">
									<span class="product-255962-quantity product-quantity">2000</span>
									<br><em>Min. finished: <span class="product-quantity-finished">2000</span></em>
									<br><em>Min. packed: <span class="product-quantity-packed">2000</span></em>
								</td>
								<td width="60">
									<input class="save-fill automatic-id loaded" type="text" onchange="" id="12910045-255962-units-carton">
								</td>
								<td width="60" class="result">
									<input class="save-fill automatic-id product-packed loaded" type="text" onchange="" id="12910045-255962-finished-packed-units">
								</td>
								<td width="60">
									<input class="save-fill automatic-id loaded" type="text" onchange="" id="12910045-255962-finished-packed-cartons">
								</td>
								<td width="60" class="result">
									<input class="save-fill automatic-id product-not-packed loaded" type="text" onchange="" id="12910045-255962-finished-not-packed-units">
								</td>
								<td width="60">
									<input class="save-fill automatic-id loaded" type="text" onchange="" id="12910045-255962-not-finished-units">
								</td>
								<td width="75" class="result result_actualfindings">
									<select class="save-fill automatic-id loaded" id="12910045-255962-result">
										<option value="">--</option>
										<option value="conformed">Conformed</option>
										<option value="notconformed">Not conformed</option>
										<option value="pending">Pending</option>
										<option value="notapplicable">N/A</option>
										<option value="actualfindings">Actual findings</option>
									</select>
								</td>
							</tr>
							<tr class="product-line">
								<td width="60" class="simple_font">
									<span class="product-255959-purchaseOrderNumber">6500007050 - 0006002392</span>
								</td>
								<td width="60" class="simple_font">
									<span class="product-255959-modelNumber">2</span>
								</td>
								<td width="60">
									<span class="product-255959-quantity product-quantity">3000</span>
									<br><em>Min. finished: <span class="product-quantity-finished">3000</span></em>
									<br><em>Min. packed: <span class="product-quantity-packed">3000</span></em>
								</td>
								<td width="60">
									<input class="save-fill automatic-id loaded" type="text" onchange="" id="12910045-255959-units-carton">
								</td>
								<td width="60" class="result">
									<input class="save-fill automatic-id product-packed loaded" type="text" onchange="" id="12910045-255959-finished-packed-units">
								</td>
								<td width="60">
									<input class="save-fill automatic-id loaded" type="text" onchange="" id="12910045-255959-finished-packed-cartons">
								</td>
								<td width="60" class="result">
									<input class="save-fill automatic-id product-not-packed loaded" type="text" onchange="" id="12910045-255959-finished-not-packed-units">
								</td>
								<td width="60">
									<input class="save-fill automatic-id loaded" type="text" onchange="" id="12910045-255959-not-finished-units">
								</td>
								<td width="75" class="result result_conformed">
									<select class="save-fill automatic-id loaded" id="12910045-255959-result">
										<option value="">--</option>
										<option value="conformed">Conformed</option>
										<option value="notconformed">Not conformed</option>
										<option value="pending">Pending</option>
										<option value="notapplicable">N/A</option>
										<option value="actualfindings">Actual findings</option>
									</select>
								</td>
							</tr>

							<tr>
								<th colspan="4" class="right"><strong>TOTAL</strong></th>
								<td>
									<input class="save-fill automatic-id loaded" type="text" data-field="finished-packed-units-total" data-protocol_element_id="12910045" disabled="disabled" id="12910045-finished-packed-units-total">
								</td>
								<td>
									<input class="save-fill automatic-id loaded" type="text" data-field="finished-packed-cartons-total" data-protocol_element_id="12910045" disabled="disabled" id="12910045-finished-packed-cartons-total">
								</td>
								<td>
									<input class="save-fill automatic-id loaded" type="text" data-field="finished-not-packed-units-total" data-protocol_element_id="12910045" disabled="disabled" id="12910045-finished-not-packed-units-total">
								</td>
								<td>
									<input class="save-fill automatic-id loaded" type="text" data-field="not-finished-units-total" data-protocol_element_id="12910045" disabled="disabled" id="12910045-not-finished-units-total">
								</td>
								<td class="result result_conformed">
									<select class="save-fill automatic-id loaded" data-field="overall-result" data-protocol_element_id="12910060" disabled="disabled" data-sync_value="12910060-overview-result" id="12910060-overall-result">
										<option value="">--</option>
										<option value="conformed">Conformed</option>
										<option value="notconformed">Not conformed</option>
										<option value="pending">Pending</option>
										<option value="notapplicable">N/A</option>
										<option value="actualfindings">Actual findings</option>
									</select>
								</td>
							</tr>
							<tr>
								<td colspan="9">
									<p>
										Result/Remarks:
									</p>
									<textarea class="save-fill automatic-id remark loaded" data-field="remarks" data-parent="12910060" data-protocol_element_id="12910045" id="12910045-remarks"></textarea>
								</td>
							</tr>
						</tbody>
					</table>



					<table cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td width="732" class="note">
									<p>Reminder:</p>

									<p>
										Non-conform Quantity checks have important consequences on the reliability of your Quality Control.<br>
										We strongly advise you to re-inspect your shipment in case the Quantity check is not conformed.
									</p>

									<p>Note: The total units' quantity check is based on the number of cartons available which are counted by the inspector, and the quantity of units/carton found on 3 cartons selected randomly for the inspection with SINGLE SKU; for the inspection with multi-references, at least 1 carton each SKU should be randomly picked for counting.</p>

								</td>
							</tr>
						</tbody>
					</table>
					<br />
					<input class="upload-photo automatic-id" multiple="" type="file" id="12910045-photos">

					<br />

					@*                     <h3>CONTROLS</h3>


					<table cellpadding="0" cellspacing="0">
					<tbody>
					<tr>
					<th width="610">
					<strong>Quantity and breakdown of products per export carton (on 3 cartons) was checked by inspector and is conformed to requirements</strong>
					</th>
					<td width="100">
					<select class="save-fill automatic-id loaded" data-field="answer" data-protocol_element_id="12909947" id="12909947-CheckedByInspector">
					<option value="">--</option>
					<option value="yes">Yes</option>
					<option value="no">No</option>
					<option value="notapplicable">N/A</option>
					</select>
					</td>
					</tr>
					<tr>
					<td width="730" colspan="3">
					</td>
					</tr>
					<tr>
					<td width="730" colspan="3">
					<input class="upload-photo automatic-id" multiple="" type="file" id="12910045-checkedbyinspector">

					</td>
					</tr>
					</tbody>
					</table>


					<table cellpadding="0" cellspacing="0">
					<tbody>
					<tr>
					<th width="610">
					<strong>The inspector was able to count precisely and by himself the cartons quantity</strong>
					</th>
					<td width="100">
					<select class="save-fill automatic-id loaded" data-field="answer" data-protocol_element_id="12909947" id="12909947-answer">
					<option value="">--</option>
					<option value="yes">Yes</option>
					<option value="no">No</option>
					<option value="notapplicable">N/A</option>
					</select>
					</td>
					</tr>
					<tr>
					<td width="730" colspan="3">
					</td>
					</tr>
					<tr>
					<td width="730" colspan="3">
					<input class="upload-photo automatic-id" multiple="" type="file" id="12910045-InspectorWadAbleToCount">

					</td>
					</tr>
					</tbody>
					</table>


					<table cellpadding="0" cellspacing="0">
					<tbody>
					<tr>
					<th width="610">
					<strong>Were the cartons placed on the ground or lean on the wall directly in warehouse.</strong>
					</th>
					<td width="100">
					<select class="save-fill automatic-id loaded" data-field="answer" data-protocol_element_id="12910008" id="12910008-CartonsPlacedOnTheGround">
					<option value="">--</option>
					<option value="yes">Yes</option>
					<option value="no">No</option>
					<option value="notapplicable">N/A</option>
					</select>
					</td>
					</tr>
					<tr>
					<td width="730" colspan="3">
					<p><b>验货员必须拍大货堆放的照片,无论有无直接堆在地板上,或靠墙。</b></p>

					<p><b><span lang="EN-US" style="font-size:8.0pt"><span style="background:yellow"><span style="color:red">BELOW SITUATIONS ARE STRICLY FORBIDDEN AND MUST BE REPORTED BY INSPECTOR VERY CLEARLY.</span></span></span></b></p>

					<table border="0" cellpadding="0" cellspacing="0" class="photos photos_2"><tbody><tr><td><p><a href="https://manage.asiaqualityfocus.com/uploads/fullbridge/-highlight-photos-cartons1.jpg" target="_blank" class="load-photo" id="photo--highlight-photos-cartons1"><img src="https://manage.asiaqualityfocus.com/uploads/fullbridge/-highlight-photos-cartons1.jpg"></a></p></td><td><p><a href="https://manage.asiaqualityfocus.com/uploads/fullbridge/12910008-highlight-photos-cartons2.jpg" target="_blank" class="load-photo" id="photo-12910008-highlight-photos-cartons2"><img src="https://manage.asiaqualityfocus.com/uploads/fullbridge/12910008-highlight-photos-cartons2.jpg"></a></p></td></tr></tbody></table><table border="0" cellpadding="0" cellspacing="0" class="photos photos_2"><tbody><tr><td><p><a href="https://manage.asiaqualityfocus.com/uploads/fullbridge/12910008-highlight-photos-cartons3.jpg" target="_blank" class="load-photo" id="photo-12910008-highlight-photos-cartons3"><img src="https://manage.asiaqualityfocus.com/uploads/fullbridge/12910008-highlight-photos-cartons3.jpg"></a></p></td></tr></tbody></table>
					</td>
					</tr>
					<tr>
					<td width="730" colspan="3">
					<input class="upload-photo automatic-id" multiple="" type="file" id="12910045-CartonsPlacedOnGround">

					</td>
					</tr>
					</tbody>
					</table> *@
				</div>



				<br>

				@*                 <div>
				<h3>C - Packing & product specifications</h3>

				<div class="connected online">
				<p>
				<strong>Select the allocated inspector</strong>
				</p>

				<p>

				<input id="protocol_element-12910061-279683-inspected" class="protocol_update co_writer" type="radio"> Pakistan Team Inspector

				</p>
				</div>

				<table border="0" cellpadding="0" cellspacing="0" class="photos photos_2"><tbody><tr><td><p><a href="https://manage.asiaqualityfocus.com/uploads/fullbridge/12910061-648c1fd322e2b9.09625089.jpg" target="_blank" class="load-photo" id="photo-b3d6fbe4-66a6-356e-fadf-25feb30cea7f"><img src="https://manage.asiaqualityfocus.com/uploads/fullbridge/12910061-648c1fd322e2b9.09625089.jpg"></a></p></td><td><p><a href="https://manage.asiaqualityfocus.com/uploads/fullbridge/12910061-648c1fd9bd24b2.70549617.jpg" target="_blank" class="load-photo" id="photo-367c32ce-c73e-b1ab-0547-c868d3551f64"><img src="https://manage.asiaqualityfocus.com/uploads/fullbridge/12910061-648c1fd9bd24b2.70549617.jpg"></a></p></td></tr></tbody></table>



				<table cellpadding="0" cellspacing="0" class="table-results-12910040" id="anchor-12909896">
				<tbody>
				<tr>
				<th width="30" class="center" rowspan="2">
				C1
				</th>
				<th width="150">
				<strong>Master Carton and Inner Box specifications</strong>
				</th>
				<td width="385" rowspan="2">
				Check against packing specifications and packing method are conformed to client's specifications.<br> When opened for units products picking, cartons/outer packing must have correct packing method and no obvious void or bulge.

				<p>
				Corrugated Paper Ply:
				<select class="save-fill automatic-id loaded" id="12909896-corrugated-paper-ply">
				<option value="">--</option>
				<option value="Single Wall">Single Wall</option>
				<option value="Double Wall">Double Wall</option>
				<option value="Triple Wall">Triple Wall</option>
				</select>
				</p>
				<p>
				Fastening:
				<select class="save-fill automatic-id loaded" id="12909896-fastening">
				<option value="">--</option>
				<option value="Metal Staples">Metal Staples</option>
				<option value="Glue">Glue</option>
				</select>
				</p>
				<p>
				Sealed by:
				<select class="save-fill automatic-id loaded" id="12909896-sealed-by">
				<option value="">--</option>
				<option value="Kraft Tape">Kraft Tape</option>
				<option value="Opaque Gummed Tape">Opaque Gummed Tape</option>
				<option value="Transparent Gummed Tape">Transparent Gummed Tape</option>
				</select>
				</p>
				<p>
				Strapping:
				<select class="save-fill automatic-id loaded" id="12909896-strapping">
				<option value="">--</option>
				<option value="Yes">Yes</option>
				<option value="No">No</option>
				</select>
				</p>


				</td>
				<td width="100" class="result" rowspan="2">
				<select class="save-fill automatic-id loaded" id="12909896-result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="pending">Pending</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				</select>
				</td>
				</tr>
				<tr>
				<th width="150">
				<strong>1 sample/reference for detailed verification; Full sample size for overall consistency &amp; quality</strong>
				</th>
				</tr>
				</tbody>
				</table>




				<table cellpadding="0" cellspacing="0" class="table-results-12910040" id="anchor-12910022">
				<tbody>
				<tr>
				<th width="30" class="center" rowspan="2">
				C2
				</th>
				<th width="150">
				<strong>Master Carton/Outer Packing/Pallet/Inner Boxes conditions and visual check</strong>
				</th>
				<td width="385" rowspan="2">
				Visual comparison against client's specifications and “Appearance of master carton and unit packaging.”



				</td>
				<td width="100" class="result result_" rowspan="2">
				<select class="save-fill automatic-id loaded" id="12910022-result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="pending">Pending</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				</select>
				</td>
				</tr>
				<tr>
				<th width="150">
				<strong>Full sample size</strong>
				</th>
				</tr>
				</tbody>
				</table>

				<table cellpadding="0" cellspacing="0" class="table-results-12910040" id="anchor-12910023">
				<tbody>
				<tr>
				<th width="30" class="center" rowspan="2">
				C3
				</th>
				<th width="150">
				<strong>Master carton shipping Mark &amp; inner packaging markings</strong>
				</th>
				<td width="385" rowspan="2">
				Master carton shipping Mark &amp; inner packaging markings are&nbsp;conformed to client's specifications.



				</td>
				<td width="100" class="result" rowspan="2">
				<select class="save-fill automatic-id loaded" id="12910023-result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="pending">Pending</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				</select>
				</td>
				</tr>
				<tr>
				<th width="150">
				<strong>1 sample/reference for detailed verification; Full sample size for overall consistency &amp; quality</strong>
				</th>
				</tr>
				</tbody>
				</table>


				<table cellpadding="0" cellspacing="0" class="table-results-12910040" id="anchor-12910024">
				<tbody>
				<tr>
				<th width="30" class="center" rowspan="2">
				C4
				</th>
				<th width="150">
				<strong>Flap check</strong>
				</th>
				<td width="385" rowspan="2">
				Fold/unfold all the lids of 1 carton and 1 inner box with an angle of 270 degrees (inside and outside) for 5 times.



				</td>
				<td width="100" class="result" rowspan="2">
				<select class="save-fill automatic-id loaded" data-callback="result_12910061();" data-field="result" data-protocol_element_id="12910024" id="12910024-result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="pending">Pending</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				</select>
				</td>
				</tr>
				<tr>
				<th width="150">
				<strong>1 sample/reference</strong>
				</th>
				</tr>
				</tbody>
				</table>




				<table cellpadding="0" cellspacing="0" class="table-results-12910040" id="anchor-12910025">
				<tbody>
				<tr>
				<th width="30" class="center" rowspan="2">
				C5
				</th>
				<th width="150">
				<strong>Unit packing specifications</strong>
				</th>
				<td width="385" rowspan="2">
				Check against packing specifications and packing method are conformed to client's specifications.



				</td>
				<td width="100" class="result" rowspan="2">
				<select class="save-fill automatic-id loaded" id="12910025-result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="pending">Pending</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				</select>
				</td>
				</tr>
				<tr>
				<th width="150">
				<strong>1 sample/reference for detailed verification; Full sample size for overall consistency &amp; quality</strong>
				</th>
				</tr>
				</tbody>
				</table>



				<table cellpadding="0" cellspacing="0" class="table-results-12910040" id="anchor-12910026">
				<tbody>
				<tr>
				<th width="30" class="center" rowspan="2">
				C6
				</th>
				<th width="150">
				<strong>Labels, Marking, Tag</strong>
				</th>
				<td width="385" rowspan="2">
				Check against packing specifications and packing method are conformed to client's specifications.



				</td>
				<td width="100" class="result" rowspan="2">
				<select class="save-fill automatic-id loaded" id="12910026-result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="pending">Pending</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				</select>
				</td>
				</tr>
				<tr>
				<th width="150">
				<strong>1 sample/reference for detailed verification; Full sample size for overall consistency &amp; quality</strong>
				</th>
				</tr>
				</tbody>
				</table>




				<table cellpadding="0" cellspacing="0" class="table-results-12910040" id="anchor-12910027">
				<tbody>
				<tr>
				<th width="30" class="center" rowspan="2">
				C7
				</th>
				<th width="150">
				<strong>Barcode &amp; QR Code Readability Check</strong>
				</th>
				<td width="385" rowspan="2">
				<p>For Barcode: Read by bar code scanner, and testing for each barcode presented on carton, inner box, unit packing, product); Compare the read number on reader against printed number besides and applicant’s requirement.</p>

				<p>For QR code: Read by APP in smart phone and testing for each barcode presented on carton, inner box, unit packing, product ); the website should be showed up.</p>




				</td>
				<td width="100" class="result" rowspan="2">
				<select class="save-fill automatic-id loaded" id="12910027-result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="pending">Pending</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				</select>
				</td>
				</tr>
				<tr>
				<th width="150">
				<strong>3 sample/reference for detailed verification;  Full sample size for overall consistency &amp; quality</strong>
				</th>
				</tr>
				</tbody>
				</table>




				<table cellpadding="0" cellspacing="0" class="table-results-12910040" id="anchor-12910028">
				<tbody>
				<tr>
				<th width="30" class="center" rowspan="2">
				C8
				</th>
				<th width="150">
				<strong>Unit Product identification</strong>
				</th>
				<td width="385" rowspan="2">
				Check against client's specifications and requirements of Material, Color, Assortment.



				</td>
				<td width="100" class="result" rowspan="2">
				<select class="save-fill automatic-id loaded" id="12910028-result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="pending">Pending</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				</select>
				</td>
				</tr>
				<tr>
				<th width="150">
				<strong>1 sample/reference for detailed verification; Full sample size for overall consistency &amp; quality</strong>
				</th>
				</tr>
				</tbody>
				</table>



				<table cellpadding="0" cellspacing="0" class="table-results-12910040" id="anchor-12910029">
				<tbody>
				<tr>
				<th width="30" class="center" rowspan="2">
				C9
				</th>
				<th width="150">
				<strong>Approval sample comparison</strong>
				</th>
				<td width="385" rowspan="2">
				Put the approval sample and production sample in the same direction/angle to do comparison and take photos.<br>
				<br>
				Note:<br>
				1. The check must be conducted under good illumination condition. <br>
				2. For color comparison, it must be conducted under natural sunlight or daylight lamp.



				</td>
				<td width="100" class="result" rowspan="2">
				<select class="save-fill automatic-id loaded" id="12910029-result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="pending">Pending</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				</select>
				</td>
				</tr>
				<tr>
				<th width="150">
				<strong>1 sample/reference for detailed verification; Full sample size for overall consistency &amp; quality</strong>
				</th>
				</tr>
				</tbody>
				</table>




				<table cellpadding="0" cellspacing="0" class="table-results-12910040" id="anchor-12910033">
				<tbody>
				<tr>
				<th width="30" class="center" rowspan="2">
				C10
				</th>
				<th width="150">
				<strong>Logo</strong>
				</th>
				<td width="385" rowspan="2">
				In conformity with client's PO/ Specifications or actual findings if no specifications available.



				</td>
				<td width="100" class="result" rowspan="2">
				<select class="save-fill automatic-id loaded" id="12910033-result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="pending">Pending</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				</select>
				</td>
				</tr>
				<tr>
				<th width="150">
				<strong>1 sample/reference for detailed verification; Full sample size for overall consistency &amp; quality</strong>
				</th>
				</tr>
				</tbody>
				</table>




				<table cellpadding="0" cellspacing="0" class="table-results-12910040" id="anchor-12910036">
				<tbody>
				<tr>
				<th width="30" class="center" rowspan="2">
				C11
				</th>
				<th width="150">
				<strong>Accessories &amp; Instruction Manual</strong>
				</th>
				<td width="385" rowspan="2">
				Check against client's specifications and requirements of Accessories &amp; I/M.



				</td>
				<td width="100" class="result" rowspan="2">
				<select class="save-fill automatic-id loaded" id="12910036-result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="pending">Pending</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				</select>
				</td>
				</tr>
				<tr>
				<th width="150">
				<strong>1 sample/reference for detailed verification; Full sample size for overall consistency &amp; quality</strong>
				</th>
				</tr>
				</tbody>
				</table>




				<table cellpadding="0" cellspacing="0" class="table-results-12910040" id="anchor-12910037">
				<tbody>
				<tr>
				<th width="30" class="center" rowspan="2">
				C12
				</th>
				<th width="150">
				<strong>Color/Size Indication Check</strong>
				</th>
				<td width="385" rowspan="2">
				<p>
				Check if there is a Color/Size Indication Box on the packaging.<br>
				Make sure the Color/Size Indication Boxes have been correctly ticked.
				</p>




				</td>
				<td width="100" class="result" rowspan="2">
				<select class="save-fill automatic-id loaded" data-callback="result_12910061();" data-field="result" data-protocol_element_id="12910037" id="12910037-result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="pending">Pending</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				</select>
				</td>
				</tr>
				<tr>
				<th width="150">
				<strong>Full sample size</strong>
				</th>
				</tr>
				</tbody>
				</table>

				<h3>Conformed photos</h3>
				<br />
				<br />

				<table>
				<tr>
				<td><h5>DUVET COVER 100%COTON 220X240CM 78FILS ASSORTED WOVEN / 6500007050 - 0006002392 / 6</h5></td>
				</tr>
				<tr>

				<td> <input class="upload-photo automatic-id" multiple="" type="file" id="fileDuvetCore"></td>
				</tr>

				<tr>
				<td><h5>DYED FITTED SHEET 100% COTTON 78 FILS 140X190CM ASSORTED COLORS WOVEN / 6500007050 - 0006002392 / 2</h5></td>
				</tr>
				<tr>

				<td> <input class="upload-photo automatic-id" multiple="" type="file" id="fileDyedFitted140"></td>
				</tr>

				<tr>
				<td><h5>DYED FITTED SHEET 100% COTTON 78 FILS 160X200CM ASSORTED COLORS WOVEN / 6500007050 - 0006002392 / 3</h5></td>
				</tr>
				<tr>

				<td> <input class="upload-photo automatic-id" multiple="" type="file" id="fileDyedFitted160"></td>
				</tr>

				<tr>
				<td><h5>DYED FITTED SHEET 100% COTTON 78 FILS 180X200 CM ASSORTED COLORS WOVEN / 6500007050 - 0006002392 / 4</h5></td>
				</tr>
				<tr>

				<td> <input class="upload-photo automatic-id" multiple="" type="file" id="fileDyedFitted180"></td>
				</tr>


				<tr>
				<td><h5>DYED FITTED SHEET 100% COTTON 78 FILS 90X190 CM ASSORTED COLORS WOVEN / 6500007050 - 0006002392 / 1</h5></td>
				</tr>
				<tr>

				<td> <input class="upload-photo automatic-id" multiple="" type="file" id="fileDyedFitted90"></td>
				</tr>


				</table>




				<table cellpadding="0" cellspacing="0" class="table-results-12910040">
				<tbody>
				<tr>
				<th width="590" class="right"><strong>Overall Result</strong></th>
				<td width="120" class="result result_conformed">
				<select class="save-fill automatic-id loaded" disabled="disabled" data-sync_value="12910061-overview-result" id="12910061-overall-result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="pending">Pending</option>
				<option value="notapplicable">N/A</option>
				<option value="actualfindings">Actual findings</option>
				</select>
				</td>
				</tr>
				</tbody>
				</table>




				</div>








				<h3>Item #1</h3>
				<table cellpadding="0" cellspacing="0" id="tblItem">
				<tbody>
				<tr>
				<th width="5">#</th>
				<th width="50">PO</th>
				<th width="65">Item</th>
				<th width="80">Description</th>
				<th width="80">Booked qty</th>
				<th width="30">Units / Carton</th>
				<th width="30">Packed units</th>
				<th width="30">Packed cartons</th>
				<th width="35">Finished unpacked</th>
				<th width="30">Not finished units</th>
				<th width="40">Overall result</th>
				</tr>
				</tbody>
				<tbody>
				<tr>
				<td width="5" style="vertical-align: middle;" rowspan="1"><a href="javascript:void(0);">1</a></td>
				<td width="50">P57723</td>
				<td width="65">61270R2B</td>
				<td width="80"><a href="javascript:void(0);">N/A</a></td>
				<td width="80">20000</td>
				<td width="30">
				<input class="txtUnitsOrCartonForItem" type="number" min="0" />
				</td>
				<td width="30">
				<input class="txtPackedUnitsForItem" type="number" min="0" />
				</td>
				<td width="30">
				<input class="txtPackedCartonsForItem" type="number" min="0" />
				</td>
				<td width="35">
				<input class="txtFinishedUnpackedForItem" type="number" min="0" />
				</td>
				<td width="30">
				<input class="txtNotFinishedUnitsForItem" type="number" min="0" />
				</td>
				<td width="40" style="text-align: center; vertical-align: middle;" rowspan="1">
				<select class="ddlOverallResultForItem">
				<option value="-"></option>
				<option value="PASS">PASS</option>
				<option value="PENDING">PENDING</option>
				<option value="FAIL">FAIL</option>
				<option value="NOTE">NOTE</option>
				<option value="DELAY">DELAY</option>
				<option value="N/A">N/A</option>
				</select>
				</td>
				</tr>
				</tbody>
				</table>
				<h3>Sampling information</h3>
				<p>Sampled cartons quantity is at least square root (√) of total cartons quantity of this lot.</p>
				<table cellpadding="0" cellspacing="0" id="tableSamplinginformation">
				<tbody>
				<tr>
				<th width="120">PO #</th>
				<th width="130">Model #</th>
				<th width="105">Total cartons number</th>
				<th width="105">Selected carton number</th>
				</tr>
				<tr>
				<td width="120">
				<span>P57723</span>
				</td>
				<td width="130" class="simple_font">
				<span>61270R2B</span>
				</td>
				<td width="40">

				<input class="txtTotalCartonsNumForSamplingInfo" type="number" min="0" />
				</td>
				<td width="275">
				<input class="txtSelectedCartonsNumForSamplingInfo" type="number" min="0" />
				</td>
				</tr>
				</tbody>
				</table>
				<h3>Item remark list</h3>

				<div class="connected online">
				<p>
				<strong>Select the allocated inspector</strong>
				</p>
				<p>
				<label>
				<input id="protocol_element-12223433-279683-inspected" class="protocol_update co_writer"
				type="radio" name="protocol_element-12223433-inspected" data-field="inspected_by" value="279683"
				data-url="https://manage.asiaqualityfocus.com/dashboard/fullbridge/protocol_element/12223433/edit"
				checked="checked" />
				Pakistan Team Inspector
				</label>
				</p>
				</div>


				<h3 class="menu" id="">Item AQL defect list</h3>
				<a name="anchor-12223442-aql-list"></a>
				<div class="connected online">
				<p>
				<strong>Select the allocated inspector</strong>
				</p>
				<p>
				<label for="protocol_element-12223434-279683-inspected">
				<input id="protocol_element-12223434-279683-inspected" class="protocol_update co_writer"
				type="radio" name="protocol_element-12223434-inspected" data-field="inspected_by" value="279683"
				data-url="https://manage.asiaqualityfocus.com/dashboard/fullbridge/protocol_element/12223434/edit"
				checked="checked" />
				Pakistan Team Inspector
				</label>
				</p>
				</div>
				<table cellpadding="0" cellspacing="0" id="tblItemAQLDefect">
				<tbody>
				<tr>
				<th width="40">Lot size</th>
				<th width="90">Inspection level</th>
				<th width="50">&nbsp;</th>
				<th width="70">Sample size</th>
				<th width="35">AQL</th>
				<th width="105">Max defects allowed</th>
				<th width="80">Defects found</th>
				<th width="70">AQL result</th>
				</tr>
				</tbody>
				<tbody>
				<tr>
				<td rowspan="3">
				<input type="number" min="0" class="txtLotSizeForItemAQLDefect" />
				</td>
				<td rowspan="3">
				<select class="ddlInspectionlevelForItemAQLDefect" id="ddlInsplevelForItemAQLDefect">
				<option value="">-</option>
				<option value="level_1">Level I</option>
				<option value="level_2">Level II</option>
				<option value="level_3">Level III</option>
				<option value="custom">Custom</option>
				</select>
				</td>
				<td><strong>Critical:</strong></td>
				<td>
				<input type="number" min="0" class="txtSampleSize_Critical_ForItemAQLDefect" />
				</td>
				<td>
				<select class="ddlSampleSize_Critical_ForItemAQLDefect">
				<option value="">-</option>
				<option value="0">0</option>
				<option value="0.01">0.01</option>
				<option value="0.015">0.015</option>
				<option value="0.025">0.025</option>
				<option value="0.04">0.04</option>
				<option value="0.065">0.065</option>
				<option value="0.1">0.1</option>
				<option value="0.15">0.15</option>
				<option value="0.25">0.25</option>
				<option value="0.4">0.4</option>
				<option value="0.65">0.65</option>
				<option value="1">1</option>
				<option value="1.5">1.5</option>
				<option value="2.5">2.5</option>
				<option value="4">4</option>
				<option value="6.5">6.5</option>
				<option value="10">10</option>
				<option value="15">15</option>
				</select>
				</td>
				<td>
				<input type="number" min="0" class="txtMaxDefectAllowed_Critical_ForItemAQLDefect" />
				</td>
				<td>
				<input type="number" min="0" class="txtMaxDefectsFound_Critical_ForItemAQLDefect" />
				</td>
				<td rowspan="3">
				<select class="ddlAOLResultForItemAQLDefect">
				<option value="">-</option>
				<option value="Pass">Pass</option>
				<option value="Fail">Fail</option>
				<option value="Fail (general defect)">Fail (general defect)</option>
				<option value="N/A">N/A</option>
				</select>
				</td>
				</tr>
				<tr>
				<td><strong>Major:</strong></td>
				<td>
				<input type="number" min="0" class="txtSampleSize_Major_ForItemAQLDefect" />
				</td>
				<td>
				<select class="ddlSampleSize_Major_ForItemAQLDefect">
				<option value="">-</option>
				<option value="0">0</option>
				<option value="0.01">0.01</option>
				<option value="0.015">0.015</option>
				<option value="0.025">0.025</option>
				<option value="0.04">0.04</option>
				<option value="0.065">0.065</option>
				<option value="0.1">0.1</option>
				<option value="0.15">0.15</option>
				<option value="0.25">0.25</option>
				<option value="0.4">0.4</option>
				<option value="0.65">0.65</option>
				<option value="1">1</option>
				<option value="1.5">1.5</option>
				<option value="2.5">2.5</option>
				<option value="4">4</option>
				<option value="6.5">6.5</option>
				<option value="10">10</option>
				<option value="15">15</option>
				</select>
				</td>
				<td>
				<input type="number" min="0" class="txtMaxDefectAllowed_Major_ForItemAQLDefect" />
				</td>
				<td>
				<input type="number" min="0" class="txtMaxDefectsFound_Major_ForItemAQLDefect" />
				</td>
				</tr>
				<tr>
				<td><strong>Minor:</strong></td>
				<td>
				<input type="number" min="0" class="txtSampleSize_Minor_ForItemAQLDefect" />
				</td>
				<td>
				<select class="ddlSampleSize_Minor_ForItemAQLDefect">
				<option value="">-</option>
				<option value="0">0</option>
				<option value="0.01">0.01</option>
				<option value="0.015">0.015</option>
				<option value="0.025">0.025</option>
				<option value="0.04">0.04</option>
				<option value="0.065">0.065</option>
				<option value="0.1">0.1</option>
				<option value="0.15">0.15</option>
				<option value="0.25">0.25</option>
				<option value="0.4">0.4</option>
				<option value="0.65">0.65</option>
				<option value="1">1</option>
				<option value="1.5">1.5</option>
				<option value="2.5">2.5</option>
				<option value="4">4</option>
				<option value="6.5">6.5</option>
				<option value="10">10</option>
				<option value="15">15</option>
				</select>
				</td>
				<td>
				<input type="number" min="0" class="txtMaxDefectAllowed_Minor_ForItemAQLDefect" />
				</td>
				<td>
				<input type="number" min="0" class="txtMaxDefectsFound_Minor_ForItemAQLDefect" />
				</td>
				</tr>
				</tbody>
				</table>




				<h3>AQL defects</h3>
				<table cellpadding="0" cellspacing="0" id="tblAQLDefects">
				<tbody>
				<tr>
				<th>#</th>
				<th>Defect</th>
				<th>Remark content</th>
				<th width="50">Critical</th>
				<th width="50">Major</th>
				<th width="50">Minor</th>
				</tr>
				</tbody>
				<tbody class="tbodyAQLDefects">
				<tr class="tr_1">
				<td width="20" rowspan="2">
				<button type="button" class="btnRemove">
				Remove
				</button>
				</td>
				<td>
				<p>
				<select class="ddlDefectsForAQLDefects">
				<option value="">--</option>
				<optgroup label="Custom defects">
				<option data-description="true" value="5088"
				data-critical="1"
				data-major="1"
				data-minor="1">
				Accessories
				</option>

				</optgroup>
				</select>
				</p>
				</td>
				<td width="625">
				<p>
				<textarea class="txtRemarkContentForAQLDefects"></textarea>
				</p>
				</td>
				<td width="50">
				<input class="txtCriticalForAQLDefects" type="number" min="0">
				</td>
				<td width="50">
				<input class="txtMajorForAQLDefects" type="number" min="0">
				</td>
				<td width="50">
				<input class="txtMinorForAQLDefects" type="number" min="0">
				</td>
				</tr>
				<tr class="tr_2">
				<td colspan="5">
				<input type="file" class="fileInput FileUploadForGeneralDefects" multiple />
				</td>
				</tr>
				</tbody>
				</table>
				<p>
				<a href="javascript:void(0);"
				class="hrefAddAnAQLDefect">
				Add a general defect
				</a>
				</p>

				<h3 class="menu">
				Product information verification
				</h3>
				<a name="anchor-12223442-product-information"></a>
				<div class="connected online">
				<p>
				<strong>Select the allocated inspector</strong>
				</p>
				<p>
				<label for="protocol_element-12223435-279683-inspected">
				<input id="protocol_element-12223435-279683-inspected" class="protocol_update co_writer"
				type="radio" name="protocol_element-12223435-inspected" data-field="inspected_by" value="279683"
				data-url="https://manage.asiaqualityfocus.com/dashboard/fullbridge/protocol_element/12223435/edit"
				checked="checked" />
				Pakistan Team Inspector
				</label>
				</p>
				</div>
				<div class="toggle_container">
				<a href="#" class="">
				Toggle
				</a>
				</div>
				<div>
				<table cellpadding="0" cellspacing="0" class="noborder" id="tblShipperCartonPackaging">
				<tbody>
				<tr>
				<td style="width: 50%;" class="noborder nopadding">
				<h3>Shipper carton packaging</h3>
				<div>
				<table cellpadding="0" cellspacing="0">
				<tbody>
				<tr>
				<th width="125">&nbsp;</th>
				<th width="65">Result</th>
				<th width="100">Measured data</th>
				</tr>
				</tbody>
				<tbody>
				<tr>
				<td width="125">Shipper carton dimensions</td>
				<td width="65">
				<select class="ddlShipperCartonDimensions_Result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				<option value="notmeasured">Not measured</option>
				</select>
				</td>
				<td width="100">
				<input class="txtShipperCartonDimensions_MeasuredData" type="text" />
				</td>
				</tr>
				<tr>
				<td width="125">Shipper carton weight</td>
				<td width="65">
				<select class="ddlShipperCartonWeight_Result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				<option value="notmeasured">Not measured</option>
				</select>
				</td>
				<td width="100">
				<input class="txtShipperCartonWeight_MeasuredData" type="text" />
				</td>
				</tr>
				<tr>
				<td width="125">
				Shipper carton<br />
				markings / labeling
				</td>
				<td width="65">
				<select class="ddlShipperCartonMarkingsLabeling_Result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				<option value="notverified">Not verified</option>
				</select>
				</td>
				<td width="100"></td>
				</tr>
				<tr>
				<td width="125">
				Packaging method<br />
				&amp; assortment
				</td>
				<td width="65">
				<select class="ddlPackagingMethodAssortment_Result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				<option value="notverified">Not verified</option>
				</select>
				</td>
				<td width="100"></td>
				</tr>
				</tbody>
				</table>
				</div>
				</td>
				<td style="width: 50%;" class="noborder nopadding">
				<h3>Inner packaging</h3>
				<div>
				<table cellpadding="0" cellspacing="0">
				<tbody>
				<tr>
				<th width="125">&nbsp;</th>
				<th width="65">Result</th>
				</tr>
				</tbody>
				<tbody>
				<tr>
				<td width="125">
				Inner packaging<br />
				markings / labeling
				</td>
				<td width="65">
				<select class="ddlInnerPackagingMarkingsLabeling">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				<option value="notverified">Not verified</option>
				</select>
				</td>
				</tr>
				<tr>
				<td width="125">
				Packaging method<br />
				&amp; assortment
				</td>
				<td width="65">
				<select class="ddlInnerPackagingMethodAssortment_Result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				<option value="notverified">Not verified</option>
				</select>
				</td>
				</tr>
				</tbody>
				</table>
				</div>
				</td>
				</tr>
				</tbody>
				</table>
				<table cellpadding="0" cellspacing="0" class="noborder" id="tblRetailPackaging">
				<tbody>
				<tr>
				<td style="width: 50%;" class="noborder nopadding">
				<h3>Retail packaging</h3>
				<div>
				<table cellpadding="0" cellspacing="0">
				<tbody>
				<tr>
				<th width="125">&nbsp;</th>
				<th width="65">Result</th>
				</tr>
				</tbody>
				<tbody>
				<tr>
				<td width="125">
				Retail packaging printings,<br />
				graphics &amp; labeling
				</td>
				<td width="65">
				<select class="ddlRetailPackagingPrintings">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				<option value="notverified">Not verified</option>
				</select>
				</td>
				</tr>
				<tr>
				<td width="125">User instructions</td>
				<td width="65">
				<select class="ddlRetailPackagingUserInstructions">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				<option value="notverified">Not verified</option>
				</select>
				</td>
				</tr>
				<tr>
				<td width="125">Retail packaging method</td>
				<td width="65">
				<select class="ddlRetailPackagingMethods">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				<option value="notverified">Not verified</option>
				</select>
				</td>
				</tr>
				</tbody>
				</table>
				</div>
				</td>
				<td style="width: 50%;" class="noborder nopadding">
				<h3>Item</h3>
				<div>
				<table cellpadding="0" cellspacing="0">
				<tbody>
				<tr>
				<th width="125">&nbsp;</th>
				<th width="65">Result</th>
				<th width="100">Measured data</th>
				</tr>
				</tbody>
				<tbody>
				<tr>
				<td width="125">Item overall dimensions</td>
				<td width="65">
				<select class="ddlItemOverallDimensions_Result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				<option value="notmeasured">Not measured</option>
				</select>
				</td>
				<td width="100">
				<input class="txtItemOverallDimensions_MeasuredData" type="text" />
				</td>
				</tr>
				<tr>
				<td width="125">
				Other dimensions<br />
				(If applicable)
				</td>
				<td width="65">
				<select class="ddlOtherDimensions_Result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				<option value="notmeasured">Not measured</option>
				</select>
				</td>
				<td width="100">
				<input class="txtOtherDimensions_MeasuredData" type="text" />
				</td>
				</tr>
				<tr>
				<td width="125">Item net weight</td>
				<td width="65">
				<select class="ddlItemNetWeight_Result">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				<option value="notmeasured">Not measured</option>
				</select>
				</td>
				<td width="100">
				<input class="txtItemNetWeight_MeasuredData" type="text" />
				</td>
				</tr>
				<tr>
				<td width="125">Item markings / labeling</td>
				<td width="65">
				<select class="ddlItemMarkingsLabeling">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				<option value="notverified">Not verified</option>
				</select>
				</td>
				<td width="100"></td>
				</tr>
				<tr>
				<td width="125">Item color</td>
				<td width="65">
				<select class="ddlItemColor">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				<option value="notverified">Not verified</option>
				</select>
				</td>
				<td width="100"></td>
				</tr>
				<tr>
				<td width="125">
				General construction<br />
				and material
				</td>
				<td width="65">
				<select class="ddlGeneralConstructionAndMaterial">
				<option value="">--</option>
				<option value="conformed">Conformed</option>
				<option value="notconformed">Not conformed</option>
				<option value="actualfindings">Actual findings</option>
				<option value="notapplicable">N/A</option>
				<option value="notverified">Not verified</option>
				</select>
				</td>
				<td width="100"></td>
				</tr>
				</tbody>
				</table>
				</div>
				</td>
				</tr>
				</tbody>
				</table>
				<table cellpadding="0" cellspacing="0" class="noborder">
				<tbody>
				<tr></tr>
				</tbody>
				</table>
				</div>
				<h3 class="menu" id="anchor-12223442-tests" data-protocol_element_id="12223442">On-site test results</h3>
				<a name="anchor-12223442-tests"></a>
				<div class="connected online">
				<p>
				<strong>Select the allocated inspector</strong>
				</p>
				<p>
				<label for="protocol_element-12223436-279683-inspected">
				<input id="protocol_element-12223436-279683-inspected" class="protocol_update co_writer"
				type="radio" name="protocol_element-12223436-inspected" data-field="inspected_by" value="279683"
				data-url="https://manage.asiaqualityfocus.com/dashboard/fullbridge/protocol_element/12223436/edit"
				checked="checked" />
				Pakistan Team Inspector
				</label>
				</p>
				</div>
				<table cellpadding="0" cellspacing="0" id="tblOnSiteTestResults">
				<tbody>
				<tr>
				<th>#</th>
				<th width="220">Test description</th>
				<th width="90">Sample size</th>
				<th width="50">Result</th>
				<th width="270">Result comment</th>
				</tr>
				</tbody>
				<tbody class="tbodytblOnSiteTestResults">
				<tr class="tr_1">
				<td width="20" rowspan="2">

				<button type="button" class="btnRemove">
				Remove
				</button>

				</td>
				<td width="220">
				<textarea class="txtTestDescForOnSiteTestResults"></textarea>
				</td>
				<td width="90">
				<input class="txtSampleSizeForOnSiteTestResults" type="number" min="0" />
				</td>
				<td width="50">
				<select class="ddlResultsForOnSiteTestResults">
				<option value="-"></option>
				<option value="pass">Pass</option>
				<option value="fail">Fail</option>
				<option value="pending">Pending</option>
				<option value="note">Note</option>
				</select>
				</td>
				<td width="270">
				<textarea class="txtResultCommentsForOnSiteTestResults"></textarea>
				</td>
				</tr>
				<tr class="tr_2">
				<td colspan="5">
				<input type="file" class="fileInput FileUploadForOnSiteTestResults" multiple />
				</td>
				</tr>
				</tbody>
				</table>
				<p>
				<a href="javascript:void(0);"
				class="hrefOnSiteTestResults">
				Add An on-site test
				</a>
				</p>
				<h3 class="menu" id="anchor-12223442-other-photos" data-protocol_element_id="12223442">Item other photos</h3>
				<div class="connected online">
				<p>
				<strong>Select the allocated inspector</strong>
				</p>
				<p>
				<label for="protocol_element-12223437-279683-inspected">
				<input id="protocol_element-12223437-279683-inspected" class="protocol_update co_writer"
				type="radio" name="protocol_element-12223437-inspected" data-field="inspected_by" value="279683"
				data-url="https://manage.asiaqualityfocus.com/dashboard/fullbridge/protocol_element/12223437/edit"
				checked="checked" />
				Pakistan Team Inspector
				</label>
				</p>
				</div>

				<input type="file" class="fileInput FileUploadItemOtherPhotos" multiple />*@
			</div>
		</div>
	</form>
	@*  } *@

</body>
</html>
