<div class="card" id="keyRemarks">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table style="border-collapse: collapse; border: none; width: 100%;">
                    <tbody>
                        <tr>
                            <td colspan="3" style="width: 554.95pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid windowtext;padding: 0in 5.4pt;height: 40.8pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Arial Black",sans-serif;margin-top:.25in;margin-bottom:0in;color:#262626;'><span style="color:#1F4E79;">Key Remarks&nbsp;</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 219.75pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 5.55pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td style="width: 99.2pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 5.55pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td style="width: 236pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 5.55pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="width: 554.95pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;padding: 4.25pt;vertical-align: top;">
                                <div style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>
                                    <ol style="margin-bottom:0in;list-style-type: decimal;">
                                        <li style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>Workmanship checked conformed (within AQL).</li>
                                    </ol>
                                </div>
                                <p style='margin-right:0in;margin-left:14.2pt;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;text-indent:0in;color:#404040;'>General defects: NO</p>
                                <p style='margin-right:0in;margin-left:14.2pt;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;text-indent:0in;color:#404040;'>Other defects found: Critical defects: 0, Major defects: 00, Minor defects: 00</p>
                                <p style='margin-right:0in;margin-left:14.2pt;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;text-indent:0in;color:#404040;'><em>Reminder of maximum allowed defects based on the AQL: Critical: 0, Major: 00, Minor: 00.</em></p>
                                <div style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>
                                    <ol style="margin-bottom:0in;list-style-type: undefined;">
                                        <li style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>Samples collected: No</li>
                                        <li style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>Factory presented xxx &nbsp;pcs for inspection.</li>
                                        <li style='margin-top:2.0pt;margin-right:0in;margin-bottom:2.0pt;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;color:#404040;'>Reference sample provided to check conformities of color, shading and other specification and found same.</li>
                                    </ol>
                                </div>
                                <p style='margin-right:0in;margin-left:14.2pt;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;text-indent:0in;color:#404040;'>Product measurement found</p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;text-indent:0in;color:#404040;'>&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>