<div class="card" id="overallResult">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table style="border-collapse: collapse; border: none; width: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 425.6pt;border: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:.5in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;text-align:right;text-indent:-.5in;'><strong><span style="color:#002060;">Overall Result&nbsp;</span></strong></p>
                            </td>
                            <td style="width: 128.7pt;border-top: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-image: initial;border-left: none;padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:1.35pt;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;text-indent:-1.35pt;'><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>