<div class="card" id="productionQuantityStatus">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table style="border-collapse:collapse;border:none;width: 100%;">
                    <tbody>
                        <tr>
                            <td colspan="11" style="width: 552.85pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid windowtext;padding: 0in 5.4pt;height: 41.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Arial Black",sans-serif;margin-top:.25in;margin-bottom:0in;color:#262626;'><span style="color:#44546A;">&nbsp;</span></p>
                                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Arial Black",sans-serif;margin-top:.25in;margin-bottom:0in;color:#262626;'><span style="color:#44546A;">2 &mdash; Production Quantity status</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="width: 219.75pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 5.55pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td colspan="5" style="width: 219.35pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 5.55pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td colspan="2" style="width: 113.75pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 5.55pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="11" style="width: 552.85pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;height: 31.1pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#1F4E79;">Booking details:</span></strong></p>
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#1F4E79;">&nbsp;</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3" style="width: 61.1pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;height: 5.45pt;vertical-align: top;">
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;'><span style="color:#1F4E79;">PO #</span></h3>
                            </td>
                            <td rowspan="3" style="width: 67.5pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;height: 5.45pt;vertical-align: top;">
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;'><span style="color:#1F4E79;">Model #</span></h3>
                            </td>
                            <td rowspan="3" style="width: 58.5pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;height: 5.45pt;vertical-align: top;">
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;'><span style="color:#1F4E79;">Order Qty (Units)</span></h3>
                            </td>
                            <td colspan="2" rowspan="3" style="width: 58.5pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;height: 5.45pt;vertical-align: top;">
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;'><span style="color:#1F4E79;">Units/</span></h3>
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;'><span style="color:#1F4E79;">Carton</span></h3>
                            </td>
                            <td colspan="5" style="width: 3.25in;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;height: 5.45pt;vertical-align: top;">
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;'><span style="color:#1F4E79;">Available Quantity</span></h3>
                            </td>
                            <td rowspan="3" style="width: 73.25pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;height: 5.45pt;vertical-align: top;">
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;'><span style="color:#44546A;">Results</span></h3>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 112.5pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;height: 13.1pt;vertical-align: top;">
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;'><span style="color:#1F4E79;">Finished and Packed&nbsp;</span></h3>
                            </td>
                            <td rowspan="2" style="width: 58.5pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;height: 13.1pt;vertical-align: top;">
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;'><span style="color:#1F4E79;">Finished but not packed</span></h3>
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;'><span style="color:#1F4E79;">(Units)</span></h3>
                            </td>
                            <td colspan="2" rowspan="2" style="width: 63pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;height: 13.1pt;vertical-align: top;">
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;'><span style="color:#1F4E79;">Not Finished</span></h3>
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;'><span style="color:#1F4E79;">(Units)</span></h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 58.5pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;height: 18.5pt;vertical-align: top;">
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;'><span style="color:#1F4E79;">Units</span></h3>
                            </td>
                            <td style="width: 0.75in;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);background: rgb(255, 242, 204);padding: 0in 5.4pt;height: 18.5pt;vertical-align: top;">
                                <h3 style='margin:0in;font-size:12px;font-family:"Arial",sans-serif;font-weight:bold;'><span style="color:#1F4E79;">Cartons</span></h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 61.1pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;padding: 4.25pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#1F4E79;">&nbsp;</span></p>
                            </td>
                            <td style="width: 67.5pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#1F4E79;">&nbsp;</span></p>
                            </td>
                            <td style="width: 58.5pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#1F4E79;">&nbsp;</span></p>
                            </td>
                            <td colspan="2" style="width: 58.5pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#1F4E79;">&nbsp;</span></p>
                            </td>
                            <td style="width: 58.5pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#1F4E79;">&nbsp;</span></p>
                            </td>
                            <td style="width: 0.75in;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#1F4E79;">&nbsp;</span></p>
                            </td>
                            <td style="width: 58.5pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#1F4E79;">&nbsp;</span></p>
                            </td>
                            <td colspan="2" style="width: 63pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><span style="color:#1F4E79;">&nbsp;</span></p>
                            </td>
                            <td style="width: 73.25pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="width: 245.6pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;background: rgb(255, 242, 204);padding: 4.25pt;height: 45.5pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;text-align:right;'><strong><span style="color:#1F4E79;">TOTAL</span></strong></p>
                            </td>
                            <td style="width: 58.5pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 45.5pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td style="width: 0.75in;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 45.5pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td style="width: 58.5pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 45.5pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td colspan="2" style="width: 63pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 45.5pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'>&nbsp;</p>
                            </td>
                            <td style="width: 73.25pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(190, 190, 190);border-right: 1pt solid rgb(190, 190, 190);padding: 0in 5.4pt;height: 45.5pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:0in;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;color:#404040;'><strong><span style="color:#00B050;">PASS</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:red;">FAIL</span></strong><strong>&nbsp;/&nbsp;</strong><strong><span style="color:#F79646;">PENDING</span></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="11" style="width: 552.85pt;border-right: 1pt solid rgb(190, 190, 190);border-bottom: 1pt solid rgb(190, 190, 190);border-left: 1pt solid rgb(190, 190, 190);border-image: initial;border-top: none;padding: 4.25pt;height: 45.5pt;vertical-align: top;">
                                <p style='margin-right:0in;margin-left:14.2pt;font-size:12px;font-family:"Arial",sans-serif;margin-top:2.0pt;margin-bottom:2.0pt;text-indent:-14.2pt;color:#404040;'><strong><span style="color:#1F4E79;">Remarks:</span></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                            <td style="border:none;"><br></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>